Repository tuono-labs/tuono, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, typescript, documentation, CI/CD, repo maintenance

chore(pnpm): dedupe dependencies
  pnpm-lock.yaml
Labels: typescript

chore(pnpm): dedupe dependencies (#547)
  pnpm-lock.yaml
Labels: typescript

feat: add spinner to 'tuono dev'
  crates/tuono/Cargo.toml
  crates/tuono/src/watch.rs
Labels: rust

feat: Add e2e setup and tests
  .github/workflows/e2e-ci.yml
  .gitignore
  Cargo.toml
  e2e/e2e-test-setup.js
  e2e/playwright.config.ts
  e2e/tests/e2e.spec.ts
  package.json
  pnpm-lock.yaml
Labels: rust, typescript, CI/CD

Use import meta dirname, move playwright test script to root package.json
  .github/workflows/e2e-ci.yml
  e2e/e2e-test-setup.js
  e2e/playwright.config.ts
  package.json
Labels: typescript, CI/CD

Add base fixture case, use it instead of tuono new
  .gitignore
  Cargo.toml
  e2e/e2e-test-setup.js
  e2e/fixtures/base/.gitignore
  e2e/fixtures/base/Cargo.toml
  e2e/fixtures/base/README.md
  e2e/fixtures/base/package.json
  e2e/fixtures/base/pnpm-lock.yaml
  e2e/fixtures/base/public/favicon.ico
  e2e/fixtures/base/public/react.svg
  e2e/fixtures/base/public/rust.svg
  e2e/fixtures/base/src/routes/__layout.tsx
  e2e/fixtures/base/src/routes/api/health_check.rs
  e2e/fixtures/base/src/routes/index.rs
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/src/styles/global.css
  e2e/fixtures/base/tsconfig.json
  e2e/fixtures/base/tuono.config.ts
  e2e/playwright.config.ts
  e2e/tests/e2e.spec.ts
Labels: rust

Fix formatting in base fixture readme
  e2e/fixtures/base/README.md
Labels: none

Use workspace packages in base fixture dependencies, remove excess code from test app
  .github/workflows/e2e-ci.yml
  e2e/e2e-test-setup.js
  e2e/fixtures/base/Cargo.toml
  e2e/fixtures/base/README.md
  e2e/fixtures/base/package.json
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/src/styles/global.css
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: typescript, CI/CD

feat: add spinner to 'tuono dev' (#550)
  crates/tuono/Cargo.toml
  crates/tuono/src/watch.rs
Labels: rust

Move e2e tests to base fixture, cleanup setup script
  .github/workflows/e2e-ci.yml
  .gitignore
  e2e/e2e-test-setup.js
  e2e/fixtures/base/.gitignore
  e2e/fixtures/base/package.json
  e2e/fixtures/base/playwright.config.ts
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/src/routes/second-route/index.tsx
  e2e/fixtures/base/tests/e2e.spec.ts
  e2e/tests/e2e.spec.ts
  package.json
Labels: typescript, CI/CD

feat: polyfill URLSearchParams on the server side
  packages/tuono-router/src/components/RouterContext.tsx
  packages/tuono/package.json
  packages/tuono/src/ssr/server.tsx
  pnpm-lock.yaml
Labels: typescript

Fix e2e setup script cwd when running cargo build
  e2e/e2e-test-setup.js
Labels: none

Clean up unecessary assets in base fixture
  e2e/fixtures/base/public/favicon.ico
  e2e/fixtures/base/public/react.svg
  e2e/fixtures/base/public/rust.svg
  e2e/fixtures/base/src/routes/api/health_check.rs
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/src/styles/global.css
Labels: none

Fix code formatting
  e2e/e2e-test-setup.js
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/src/routes/second-route/index.tsx
  e2e/fixtures/base/tests/e2e.spec.ts
Labels: none

handling async jobs on shutdown
  crates/tuono/src/watch.rs
Labels: rust

feat: polyfill URLSearchParams on the server side (#555)
  packages/tuono-router/src/components/RouterContext.tsx
  packages/tuono/package.json
  packages/tuono/src/ssr/server.tsx
  pnpm-lock.yaml
Labels: typescript

Clean up due to test fixture being in workspace, add server prop assertion to base fixture test
  .gitignore
  e2e/fixtures/base/package.json
  e2e/fixtures/base/pnpm-lock.yaml
  e2e/fixtures/base/src/routes/index.rs
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/tests/e2e.spec.ts
Labels: none

feat: Add e2e setup and tests (#535)
  .github/workflows/e2e-ci.yml
  .gitignore
  Cargo.toml
  e2e/e2e-test-setup.js
  e2e/fixtures/base/.gitignore
  e2e/fixtures/base/Cargo.toml
  e2e/fixtures/base/package.json
  e2e/fixtures/base/playwright.config.ts
  e2e/fixtures/base/src/routes/__layout.tsx
  e2e/fixtures/base/src/routes/index.rs
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/src/routes/second-route/index.tsx
  e2e/fixtures/base/src/styles/global.css
  e2e/fixtures/base/tests/e2e.spec.ts
  e2e/fixtures/base/tsconfig.json
  e2e/fixtures/base/tuono.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: rust, typescript, CI/CD

.github/labeler.yml:

# @see https://github.com/actions/labeler

rust:
  - changed-files:
      - any-glob-to-any-file: ['crates/**', 'Cargo.toml']

typescript:
  - changed-files:
      - any-glob-to-any-file:
          [
            'packages/**',
            'package.json',
            'pnpm-*.yaml',
            'eslint.config.js',
            'tsconfig.json',
          ]

documentation:
  - changed-files:
      - any-glob-to-any-file: ['apps/documentation/**']

'CI/CD':
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

'repo maintenance':
  - changed-files:
      - any-glob-to-any-file:
          [
            '.npmrc',
            '.nvmrc',
            '.prettierrc',
            '.prettierignore',
            'renovate.json',
            'turbo.json',
          ]
