Repository tuono-labs/tuono, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, typescript, documentation, CI/CD, repo maintenance

enable tracking on prod
  apps/documentation/.env.production
Labels: documentation

disable persistence
  apps/documentation/src/components/PostHog/PostHogProvider.tsx
Labels: documentation

fix: with-tailwind template download
  crates/tuono/src/scaffold_project.rs
  examples/tuono-app/Cargo.toml
  examples/tuono-tutorial/Cargo.toml
  examples/with-mdx/Cargo.toml
Labels: rust

chore: bump version to v0.17.7
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: rust, typescript

chore(deps): update dependency turbo to v2.4.0
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: typescript, repo maintenance

fix: with-tailwind template download (#522)
  crates/tuono/src/scaffold_project.rs
  examples/tuono-app/Cargo.toml
  examples/tuono-tutorial/Cargo.toml
  examples/with-mdx/Cargo.toml
Labels: rust

docs: enable posthog analytics (#519)
  apps/documentation/.env.local
  apps/documentation/.env.production
  apps/documentation/package.json
  apps/documentation/src/components/App/App.tsx
  apps/documentation/src/components/App/index.ts
  apps/documentation/src/components/PostHog/PostHogPageView.tsx
  apps/documentation/src/components/PostHog/PostHogProvider.tsx
  apps/documentation/src/components/PostHog/index.ts
  apps/documentation/src/env.d.ts
  apps/documentation/src/routes/__layout.tsx
  pnpm-lock.yaml
Labels: typescript, documentation

chore(deps): update dependency turbo to v2.4.0 (#525)
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: typescript, repo maintenance

docs: add API routes page
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/routing/api-routes.mdx
Labels: documentation

chore: update ssr_rs to v0.8.1
  crates/tuono_lib/Cargo.toml
Labels: rust

docs(sitemap.xml): exclude 404 page
  apps/documentation/src/routes/sitemap.xml.rs
Labels: documentation

chore: update ssr_rs to v0.8.1 (#529)
  crates/tuono_lib/Cargo.toml
Labels: rust

chore: bump version to v0.17.7 (#523)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: rust, typescript

docs: update tuono version to v0.17.7
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  pnpm-lock.yaml
Labels: typescript, documentation

docs: update tuono version to v0.17.7 (#524)
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  pnpm-lock.yaml
Labels: typescript, documentation

Apply suggestions from code review
  apps/documentation/src/routes/documentation/routing/api-routes.mdx
Labels: documentation

docs(sitemap.xml): exclude 404 page (#530)
  apps/documentation/src/routes/sitemap.xml.rs
Labels: documentation

fix: formatting
  apps/documentation/src/routes/documentation/routing/api-routes.mdx
Labels: documentation

docs: add API routes page (#528)
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/routing/api-routes.mdx
Labels: documentation

docs: fix broken links
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/index.mdx
Labels: documentation

docs: fix broken links (#532)
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/index.mdx
Labels: documentation

start work
  packages/tuono/src/config/types.ts
Labels: typescript

update vite, write tests
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  packages/tuono/src/build/config/normalize-config.spec.ts
  pnpm-lock.yaml
Labels: typescript

lint
  packages/tuono/src/build/config/normalize-config.spec.ts
Labels: typescript

add css key to build
  packages/tuono/src/build/index.ts
Labels: typescript

config
  packages/tuono/src/build/config/normalize-config.ts
Labels: typescript

implement suggestions (still need to write docs)
  packages/tuono/src/build/config/normalize-config.spec.ts
  pnpm-lock.yaml
Labels: typescript

write docs entry
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

docs wording changes
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

remove trailing full stop to be consistent with other config keys
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

feat: add css key to vite config (#518)
  apps/documentation/src/routes/documentation/configuration.mdx
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  packages/tuono/src/build/config/normalize-config.spec.ts
  packages/tuono/src/build/config/normalize-config.ts
  packages/tuono/src/build/index.ts
  packages/tuono/src/config/types.ts
  pnpm-lock.yaml
Labels: typescript, documentation

update link component to allow Ctrl/Cmd+Click to open in new tab
  packages/tuono-router/src/components/Link.tsx
Labels: typescript

implement suggestions
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  packages/tuono-router/src/components/Link.tsx
Labels: typescript, documentation

write tests
  packages/tuono-router/src/components/Link.spec.tsx
Labels: typescript

implement suggestions
  packages/tuono-router/src/components/Link.spec.tsx
  packages/tuono-router/src/components/Link.tsx
Labels: typescript

change function name, as requested
  packages/tuono-router/src/components/Link.tsx
Labels: typescript

implement suggestion
  packages/tuono-router/src/components/Link.tsx
Labels: typescript

fix: update link component to allow modifier+click to properly work, and write tests (#534)
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  packages/tuono-router/src/components/Link.spec.tsx
  packages/tuono-router/src/components/Link.tsx
Labels: typescript, documentation

test(packages/tuono-router): use screen instead of render matchers
  packages/tuono-router/src/components/Link.spec.tsx
Labels: typescript

test(packages/tuono-router): use screen instead of render matchers (#540)
  packages/tuono-router/src/components/Link.spec.tsx
Labels: typescript

.github/labeler.yml:

# @see https://github.com/actions/labeler

rust:
  - changed-files:
      - any-glob-to-any-file: ['crates/**', 'Cargo.toml']

typescript:
  - changed-files:
      - any-glob-to-any-file:
          [
            'packages/**',
            'package.json',
            'pnpm-*.yaml',
            'eslint.config.js',
            'tsconfig.json',
          ]

documentation:
  - changed-files:
      - any-glob-to-any-file: ['apps/documentation/**']

'CI/CD':
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

'repo maintenance':
  - changed-files:
      - any-glob-to-any-file:
          [
            '.npmrc',
            '.nvmrc',
            '.prettierrc',
            '.prettierignore',
            'renovate.json',
            'turbo.json',
          ]
