Repository tuono-labs/tuono, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, typescript, documentation, CI/CD, repo maintenance

.github/labeler.yml:

# @see https://github.com/actions/labeler

rust:
  - changed-files:
      - any-glob-to-any-file: ['crates/**', 'Cargo.toml']

typescript:
  - changed-files:
      - any-glob-to-any-file:
          [
            'packages/**',
            'package.json',
            'pnpm-*.yaml',
            'eslint.config.js',
            'tsconfig.json',
          ]

documentation:
  - changed-files:
      - any-glob-to-any-file: ['apps/documentation/**']

'CI/CD':
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

'repo maintenance':
  - changed-files:
      - any-glob-to-any-file:
          [
            '.npmrc',
            '.nvmrc',
            '.prettierrc',
            '.prettierignore',
            'renovate.json',
            'turbo.json',
          ]

feat: refine documentation copy
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/components/link.mdx
  apps/documentation/src/routes/documentation/configuration.mdx
  apps/documentation/src/routes/documentation/contributing/pull-requests.mdx
  apps/documentation/src/routes/documentation/hooks/use-router.mdx
  apps/documentation/src/routes/documentation/installation.mdx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/documentation/routing/layouts.mdx
  apps/documentation/src/routes/documentation/routing/link-and-navigation.mdx
  apps/documentation/src/routes/documentation/routing/loading-state.mdx
  apps/documentation/src/routes/documentation/routing/pages.mdx
  apps/documentation/src/routes/documentation/routing/redirecting.mdx
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
  apps/documentation/src/routes/documentation/tutorial/components.mdx
  apps/documentation/src/routes/documentation/tutorial/conclusion.mdx
  apps/documentation/src/routes/documentation/tutorial/error-handling.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/documentation/tutorial/production.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
  apps/documentation/src/routes/documentation/tutorial/seo.mdx
  apps/documentation/src/routes/index.mdx
Labels: documentation

feat: update code headings
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

fix: reduce padding
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

feat: add link to headings
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

fix: linting
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

feat: update heading anchor link
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
Labels: documentation

apply suggestion
  apps/documentation/src/routes/documentation/hooks/use-router.mdx
Labels: documentation

fix: rebase
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

feat: apply suggestions
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

docs: refine UI (#466)
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/components/link.mdx
  apps/documentation/src/routes/documentation/configuration.mdx
  apps/documentation/src/routes/documentation/contributing/pull-requests.mdx
  apps/documentation/src/routes/documentation/hooks/use-router.mdx
  apps/documentation/src/routes/documentation/installation.mdx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/documentation/routing/layouts.mdx
  apps/documentation/src/routes/documentation/routing/link-and-navigation.mdx
  apps/documentation/src/routes/documentation/routing/loading-state.mdx
  apps/documentation/src/routes/documentation/routing/pages.mdx
  apps/documentation/src/routes/documentation/routing/redirecting.mdx
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
  apps/documentation/src/routes/documentation/tutorial/components.mdx
  apps/documentation/src/routes/documentation/tutorial/conclusion.mdx
  apps/documentation/src/routes/documentation/tutorial/error-handling.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/documentation/tutorial/production.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
  apps/documentation/src/routes/documentation/tutorial/seo.mdx
  apps/documentation/src/routes/index.mdx
Labels: documentation

fix: heading order
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

fix: heading order (#471)
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

docs: add SSR page
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

v0.17.6: API routes page documentation.
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/routing/api-routes.mdx
Labels: documentation

docs(api): run prettier format check
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/routing/api-routes.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

refine copy
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

add toc indent
  apps/documentation/src/components/TableOfContents/TableOfContents.module.css
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
Labels: documentation

implement suggestions, resolve conflicts with main
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/components/TableOfContents/getHeadings.ts
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

remove email reference
  apps/documentation/src/routes/documentation/tutorial/index.mdx
Labels: documentation

remove zombie page
  apps/documentation/src/routes/documentation/contributing.mdx
Labels: documentation

docs: indent ToC based on heading levels (#475)
  apps/documentation/src/components/TableOfContents/TableOfContents.module.css
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/components/TableOfContents/getHeadings.ts
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

docs: remove valerioageno email reference (#477)
  apps/documentation/src/routes/documentation/contributing.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
Labels: documentation

docs: add SSR page (#473)
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

test(packages/tuono-router): refine unit tests
  packages/tuono-router/package.json
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/hooks/useRoute.spec.ts
  pnpm-lock.yaml
Labels: typescript

refine name
  packages/tuono-router/src/components/RouteMatch.spec.tsx
Labels: typescript

test(packages/tuono-router): refine unit tests (#478)
  packages/tuono-router/package.json
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/hooks/useRoute.spec.ts
  pnpm-lock.yaml
Labels: typescript

docs: remove "How is tuono different?" and refine “Installation”
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/how-is-tuono-different.mdx
  apps/documentation/src/routes/documentation/installation.mdx
Labels: documentation

docs: remove "How is tuono different?" and refine “Installation” (#480)
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/how-is-tuono-different.mdx
  apps/documentation/src/routes/documentation/installation.mdx
Labels: documentation

docs: add custom 404 page
  apps/documentation/src/components/EditPage/EditPage.tsx
  apps/documentation/src/components/MdxWrapper/index.ts
  apps/documentation/src/components/PageWithTOC/PageWithTOC.module.css
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
  apps/documentation/src/components/PageWithTOC/index.ts
  apps/documentation/src/routes/404.tsx
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/routes/documentation/__layout.tsx
Labels: documentation

docs(TableOfContents): handle page without ordered headings (404)
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
Labels: documentation

docs(TableOfContents): refine heading click logic
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
Labels: documentation

lint & format
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
Labels: documentation

feat: gracefully shouting down dev command
  crates/tuono/Cargo.toml
  crates/tuono/src/cli.rs
  crates/tuono/src/watch.rs
Labels: rust

remove unused dependancy
  crates/tuono/Cargo.toml
Labels: rust

apply review
  apps/documentation/src/routes/documentation/__layout.tsx
Labels: documentation

docs: add custom 404 page (#486)
  apps/documentation/src/components/EditPage/EditPage.tsx
  apps/documentation/src/components/MdxWrapper/index.ts
  apps/documentation/src/components/PageWithTOC/PageWithTOC.module.css
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
  apps/documentation/src/components/PageWithTOC/index.ts
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/routes/404.tsx
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/routes/documentation/__layout.tsx
Labels: documentation
