Repository tuono-labs/tuono, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, typescript, documentation, CI/CD, repo maintenance

Update apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

docs: add TuonoScript component mention (#509)
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

fix: remove channel and quit_gracefully
  crates/tuono/src/watch.rs
Labels: rust

docs: refine dynamic page hierarchy (#511)
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/functions/dynamic.mdx
Labels: documentation

apply suggestions
  apps/documentation/src/components/MdxProvider/MdxParagraph/MdxParagraph.module.css
  apps/documentation/src/components/MdxProvider/MdxParagraph/MdxParagraph.tsx
  apps/documentation/src/components/MdxProvider/MdxParagraph/index.ts
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/MdxProvider/MdxText/index.ts
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

docs: improve readability (#510)
  apps/documentation/public/Menlo-Regular.ttf
  apps/documentation/src/components/MdxProvider/MdxCode/MdxCode.tsx
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  apps/documentation/src/components/MdxProvider/MdxParagraph/MdxParagraph.module.css
  apps/documentation/src/components/MdxProvider/MdxParagraph/MdxParagraph.tsx
  apps/documentation/src/components/MdxProvider/MdxParagraph/index.ts
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.tsx
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/MdxProvider/MdxQuote/MdxQuote.tsx
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.module.css
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/index.tsx
  apps/documentation/src/components/NavigationButtons/NavigationButtons.tsx
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/styles/global.css
Labels: documentation

adding the error condition to into diagnostic
  crates/tuono/src/watch.rs
Labels: rust

adding select again
  crates/tuono/src/watch.rs
Labels: rust

format
  crates/tuono/src/watch.rs
Labels: rust

docs: add `/styles/css-modules` page
  apps/documentation/src/routes/documentation/styles/css-modules.mdx
Labels: documentation

Apply suggestions from code review
  apps/documentation/src/routes/documentation/server-utilities/request.mdx
Labels: documentation

fix: formatting
  apps/documentation/src/routes/documentation/server-utilities/request.mdx
Labels: documentation

docs: add `Request` page (#502)
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/server-utilities/request.mdx
Labels: documentation

docs: add mdx page
  apps/documentation/src/routes/documentation/integrations/mdx.mdx
Labels: documentation

fix: tailwind css page
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
Labels: documentation

docs: fix quote tags
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

add border to dark mode quotes
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

docs: fix quote blocks (#515)
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

docs: fix typo
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

docs: fix typo (#516)
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

apply suggestion
  apps/documentation/src/routes/documentation/styles/css-modules.mdx
Labels: documentation

Apply suggestions from code review
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
Labels: documentation

docs: add `/styles/css-modules` page (#513)
  apps/documentation/src/routes/documentation/styles/css-modules.mdx
Labels: documentation

docs: add privacy policy
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/routes/policies/privacy.mdx
Labels: documentation

feat: enable mantine Divider component
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
Labels: documentation

fix formatting
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
Labels: documentation

docs: add mdx page (#514)
  apps/documentation/src/routes/documentation/integrations/mdx.mdx
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
Labels: documentation

fix linter
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
Labels: documentation

docs: add privacy policy (#517)
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/routes/policies/privacy.mdx
Labels: documentation

docs: add footer to doc (WIP)
  apps/documentation/src/components/Footer/Footer.tsx
  apps/documentation/src/components/Footer/index.ts
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

refine UI
  apps/documentation/src/components/Footer/Footer.tsx
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

fix: lint/types
  apps/documentation/src/components/Footer/Footer.tsx
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
Labels: documentation

reload calculation on window resize
  apps/documentation/src/components/MdxProvider/MdxCode/MdxCode.tsx
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
Labels: documentation

feat: add privacy policy to footer
  apps/documentation/src/components/Footer/Footer.tsx
Labels: documentation

docs: add footer to doc (#512)
  apps/documentation/src/components/Footer/Footer.tsx
  apps/documentation/src/components/Footer/index.ts
  apps/documentation/src/components/MdxProvider/MdxCode/MdxCode.tsx
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

remove task
  .github/ISSUE_TEMPLATE/task.yml
Labels: CI/CD

docs: enable posthog analytics
  apps/documentation/.env.local
  apps/documentation/.env.production
  apps/documentation/package.json
  apps/documentation/src/components/PostHogProvider/PostHogPageView.tsx
  apps/documentation/src/components/PostHogProvider/PostHogProvider.tsx
  apps/documentation/src/components/PostHogProvider/index.ts
  apps/documentation/src/env.d.ts
  apps/documentation/src/routes/__layout.tsx
  pnpm-lock.yaml
Labels: typescript, documentation

fix: linter
  apps/documentation/src/components/PostHogProvider/PostHogPageView.tsx
  apps/documentation/src/components/PostHogProvider/PostHogProvider.tsx
  apps/documentation/src/env.d.ts
Labels: documentation

refactor documentation entry point
  apps/documentation/src/components/App/App.tsx
  apps/documentation/src/components/App/index.ts
  apps/documentation/src/components/PostHog/PostHogPageView.tsx
  apps/documentation/src/components/PostHog/PostHogProvider.tsx
  apps/documentation/src/components/PostHog/index.ts
  apps/documentation/src/components/PostHogProvider/index.ts
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

chore: refine issue templates (#508)
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: CI/CD

.github/labeler.yml:

# @see https://github.com/actions/labeler

rust:
  - changed-files:
      - any-glob-to-any-file: ['crates/**', 'Cargo.toml']

typescript:
  - changed-files:
      - any-glob-to-any-file:
          [
            'packages/**',
            'package.json',
            'pnpm-*.yaml',
            'eslint.config.js',
            'tsconfig.json',
          ]

documentation:
  - changed-files:
      - any-glob-to-any-file: ['apps/documentation/**']

'CI/CD':
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

'repo maintenance':
  - changed-files:
      - any-glob-to-any-file:
          [
            '.npmrc',
            '.nvmrc',
            '.prettierrc',
            '.prettierignore',
            'renovate.json',
            'turbo.json',
          ]
