Repository tuono-labs/tuono, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, typescript, documentation, CI/CD, repo maintenance

.github/labeler.yml:

# @see https://github.com/actions/labeler

rust:
  - changed-files:
      - any-glob-to-any-file: ['crates/**', 'Cargo.toml']

typescript:
  - changed-files:
      - any-glob-to-any-file:
          [
            'packages/**',
            'package.json',
            'pnpm-*.yaml',
            'eslint.config.js',
            'tsconfig.json',
          ]

documentation:
  - changed-files:
      - any-glob-to-any-file: ['apps/documentation/**']

'CI/CD':
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

'repo maintenance':
  - changed-files:
      - any-glob-to-any-file:
          [
            '.npmrc',
            '.nvmrc',
            '.prettierrc',
            '.prettierignore',
            'renovate.json',
            'turbo.json',
          ]

fix format
  .github/workflows/docker-ci.yml
Labels: CI/CD

docs: update tuono to 0.17.5 (#416)
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  eslint.config.js
  pnpm-lock.yaml
Labels: typescript, documentation, CI/CD

docs: table of contents (#394)
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
  apps/documentation/src/components/MdxWrapper/index.ts
  apps/documentation/src/components/TableOfContents/TableOfContents.module.css
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/components/TableOfContents/getHeadings.ts
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

start work
  crates/tuono/src/cli.rs
Labels: rust

lint
  crates/tuono/src/cli.rs
Labels: rust

tidy up temp projects and add tuono config by default
  crates/tuono/tests/cli_build.rs
  crates/tuono/tests/utils.rs
Labels: rust

lint
  crates/tuono/tests/cli_build.rs
Labels: rust

feat: create tuono_lib test
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/tests/main.rs
  crates/tuono_lib/tests/server.rs
  crates/tuono_lib/tests/utils.rs
Labels: rust

write tests
  crates/tuono/src/cli.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono/tests/utils.rs
Labels: rust

fixes after review
  .github/workflows/docker-ci.yml
Labels: CI/CD

add max width to article
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

fix(docs): content overflow (#423)
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

test: add server side rendering scenarios
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/tests/assets/fake_react_build.js
  crates/tuono_lib/tests/main.rs
  crates/tuono_lib/tests/server.rs
  crates/tuono_lib/tests/utils/health_check.rs
  crates/tuono_lib/tests/utils/mod.rs
  crates/tuono_lib/tests/utils/route.rs
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

remove Once
  crates/tuono_lib/src/server.rs
Labels: rust

start work
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

add missing trigger
  .github/workflows/docker-ci.yml
Labels: CI/CD

make link component multiline
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.module.css
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
Labels: documentation

docs: add notes about pull request and validating changes
  .github/pull_request_template.md
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
  apps/documentation/src/routes/documentation/contributing/pull-requests.mdx
Labels: documentation, CI/CD

ci(pr-title-checker): `test` type is marked as invalid
  .github/workflows/pr-title-checker.yml
Labels: CI/CD

ci(pr-title-checker): test type is marked as invalid (#432)
  .github/workflows/pr-title-checker.yml
Labels: CI/CD

implement suggestions
  crates/tuono/tests/utils.rs
Labels: rust

move from tuono_lib to tuono
  examples/tuono-app/Cargo.toml
  examples/tuono-app/src/routes/api/health_check.rs
  examples/tuono-app/src/routes/index.rs
  examples/tuono-tutorial/Cargo.toml
  examples/tuono-tutorial/src/routes/index.rs
  examples/tuono-tutorial/src/routes/pokemons/GOAT.rs
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].rs
  examples/with-mdx/Cargo.toml
  examples/with-tailwind/Cargo.toml
Labels: none

change cli code gen from tuono_lib to tuono
  crates/tuono/src/route.rs
  crates/tuono/src/scaffold_project.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/tests/cli_build.rs
Labels: rust

lint
  crates/tuono/src/scaffold_project.rs
Labels: rust

change docs from tuono_lib to tuono
  apps/documentation/Cargo.toml
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/error-handling.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
Labels: documentation

ci: add docker image test workflow (#332)
  .github/workflows/docker-ci.yml
  docker/Dockerfile
Labels: CI/CD

chore(deps): update dependency @types/react to v19.0.8
  apps/documentation/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  pnpm-lock.yaml
Labels: typescript, documentation

chore(deps): update dependency @types/react to v19.0.8 (#442)
  apps/documentation/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  pnpm-lock.yaml
Labels: typescript, documentation

test(packages/tuono-router): replace `jsdom` with `happy-dom`
  packages/tuono-router/package.json
  packages/tuono-router/vite.config.ts
  pnpm-lock.yaml
Labels: typescript

test(packages/tuono-router): replace `jsdom` with `happy-dom` (#444)
  packages/tuono-router/package.json
  packages/tuono-router/vite.config.ts
  pnpm-lock.yaml
Labels: typescript

fix: check if project contains `tuono.config.ts` before running dev/build (#420)
  crates/tuono/src/cli.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono/tests/utils.rs
Labels: rust

adding dotenvy-macros
  crates/tuono/Cargo.toml
  crates/tuono/src/cli.rs
  crates/tuono/src/main.rs
  crates/tuono/src/source_builder.rs
Labels: rust

put all the scenarion in the same test
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/tests/server.rs
Labels: rust

docs(configuration): add documentation for `server` option
  apps/documentation/src/routes/documentation/configuration.mdx
  packages/tuono/src/config/types.ts
Labels: typescript, documentation

docs(tutorial): correct api fetching example
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
Labels: documentation

docs(tutorial): correct api fetching example (#447)
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
Labels: documentation

ci: add `concurrency` flag for CI workflows
  .github/workflows/docker-ci.yml
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust-ci.yml
  .github/workflows/spell-checking.yml
  .github/workflows/typescript-ci.yml
Labels: CI/CD

ci: add `concurrency` flag for CI workflows (#448)
  .github/workflows/docker-ci.yml
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust-ci.yml
  .github/workflows/spell-checking.yml
  .github/workflows/typescript-ci.yml
Labels: CI/CD

Update apps/documentation/src/routes/documentation/configuration.mdx
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

docs(configuration): add documentation for `server` option (#446)
  apps/documentation/src/routes/documentation/configuration.mdx
  packages/tuono/src/config/types.ts
Labels: typescript, documentation
