Repository tuono-labs/tuono, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, typescript, documentation, CI/CD, repo maintenance

.github/labeler.yml:

# @see https://github.com/actions/labeler

rust:
  - changed-files:
      - any-glob-to-any-file: ['crates/**', 'Cargo.toml']

typescript:
  - changed-files:
      - any-glob-to-any-file:
          [
            'packages/**',
            'package.json',
            'pnpm-*.yaml',
            'eslint.config.js',
            'tsconfig.json',
          ]

documentation:
  - changed-files:
      - any-glob-to-any-file: ['apps/documentation/**']

'CI/CD':
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

'repo maintenance':
  - changed-files:
      - any-glob-to-any-file:
          [
            '.npmrc',
            '.nvmrc',
            '.prettierrc',
            '.prettierignore',
            'renovate.json',
            'turbo.json',
          ]

feat(examples/tuono-tutorial): rewrite tuono-tutorial
  examples/tuono-tutorial/src/components/PokemonImage.tsx
  examples/tuono-tutorial/src/components/PokemonLink.tsx
  examples/tuono-tutorial/src/components/PokemonView.module.css
  examples/tuono-tutorial/src/components/PokemonView.tsx
  examples/tuono-tutorial/src/css-modules.d.ts
  examples/tuono-tutorial/src/models/Pokemon.ts
  examples/tuono-tutorial/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].tsx
  examples/tuono-tutorial/tsconfig.json
Labels: none

revert PokemonImage.tsx
  examples/tuono-tutorial/src/components/PokemonImage.tsx
  examples/tuono-tutorial/src/components/PokemonLink.tsx
  examples/tuono-tutorial/src/components/PokemonView.tsx
Labels: none

update doc
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/components.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
  apps/documentation/src/routes/documentation/tutorial/seo.mdx
  examples/tuono-tutorial/src/components/PokemonLink.tsx
  examples/tuono-tutorial/src/components/PokemonView.tsx
  examples/tuono-tutorial/src/models/Pokemon.ts
  examples/tuono-tutorial/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].tsx
Labels: documentation

ensure diff consistency
  apps/documentation/src/routes/documentation/tutorial/components.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
Labels: documentation

fix: parallel tests
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/manifest.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/tests/server.rs
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

update host to 0.0.0.0
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

fix: tuono CLI source builder
  crates/tuono/src/source_builder.rs
Labels: rust

update host
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

load correct js build
  crates/tuono_lib/tests/assets/fake_react_build.js
  crates/tuono_lib/tests/server.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

chore: bump version to v0.17.6
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: rust, typescript

apply review
  .github/pull_request_template.md
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
  apps/documentation/src/routes/documentation/contributing/pull-requests.mdx
Labels: documentation, CI/CD

apply review
  apps/documentation/src/routes/documentation/tutorial/seo.mdx
Labels: documentation

docs: add notes about pull request and validating changes (#427)
  .github/pull_request_template.md
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
  apps/documentation/src/routes/documentation/contributing/pull-requests.mdx
Labels: documentation, CI/CD

tabs are fun
  apps/documentation/src/routes/documentation/tutorial/components.mdx
Labels: documentation

feat(examples/tuono-tutorial): rewrite tuono-tutorial (#449)
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/components.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
  apps/documentation/src/routes/documentation/tutorial/seo.mdx
  examples/tuono-tutorial/src/components/PokemonLink.tsx
  examples/tuono-tutorial/src/components/PokemonView.module.css
  examples/tuono-tutorial/src/components/PokemonView.tsx
  examples/tuono-tutorial/src/css-modules.d.ts
  examples/tuono-tutorial/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].tsx
  examples/tuono-tutorial/tsconfig.json
Labels: documentation

test: integration test to `tuono_lib` (#425)
  crates/tuono/src/source_builder.rs
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/manifest.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/tests/assets/fake_react_build.js
  crates/tuono_lib/tests/main.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/health_check.rs
  crates/tuono_lib/tests/utils/mod.rs
  crates/tuono_lib/tests/utils/route.rs
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

chore: bump version to v0.17.6 (#453)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: rust, typescript

docs: update to tuono 0.17.6
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  pnpm-lock.yaml
Labels: typescript, documentation, CI/CD

docs: update to tuono 0.17.6 (#461)
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  pnpm-lock.yaml
Labels: typescript, documentation, CI/CD

docs: remove `$` from command line snippets
  apps/documentation/README.md
  apps/documentation/src/components/Hero/Hero.tsx
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/development-setup.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/documentation/tutorial/production.mdx
Labels: documentation

docs: format snippets with consistent styles
  apps/documentation/README.md
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/components/link.mdx
  apps/documentation/src/routes/documentation/installation.mdx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/development-setup.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/documentation/tutorial/production.mdx
  examples/README.md
  examples/tuono-app/README.md
  examples/tuono-tutorial/README.md
  examples/with-mdx/README.md
  examples/with-tailwind/README.md
Labels: documentation

try to get tuono version without hardcoding it
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
Labels: CI/CD

docs: use consistent snippet style across the codebase (#451)
  apps/documentation/README.md
  apps/documentation/src/components/Hero/Hero.tsx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/components/link.mdx
  apps/documentation/src/routes/documentation/installation.mdx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/development-setup.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/documentation/tutorial/production.mdx
  examples/README.md
  examples/tuono-app/README.md
  examples/tuono-tutorial/README.md
  examples/with-mdx/README.md
  examples/with-tailwind/README.md
Labels: documentation

fix(crates/tuono_lib): print server url as valid URL to be clickable on CLI
  crates/tuono_lib/src/server.rs
Labels: rust

inline css, update link font size
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.module.css
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
Labels: documentation

fix overflow issues
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.module.css
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.tsx
  apps/documentation/src/components/MdxWrapper/MdxWrapper.module.css
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

fix(crates/tuono_lib): print server url as valid URL to be clickable on CLI (#464)
  crates/tuono_lib/src/server.rs
Labels: rust

ci: get documentation `tuono` version automatically (#462)
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
Labels: CI/CD

implement suggestions
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
Labels: documentation

fix(docs): fix all line and link overflow issues (#426)
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.module.css
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.tsx
  apps/documentation/src/components/MdxWrapper/MdxWrapper.module.css
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

generate headings which only consist of code
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

implement suggestions
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

lint
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

remove useState, match all special chars
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

update id gen
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

lint
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

comment out normalise
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

add issue reference
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

docs: add headings containing only code to ToC (#467)
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

fix: title marginTop
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation
