Repository tuono-labs/tuono, changes with the labels that .github/labeler.yml gives for each.
All labels: rust, typescript, documentation, CI/CD, repo maintenance

docs: add `getting-started/setup-project`
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/getting-started/installation.mdx
  apps/documentation/src/routes/documentation/getting-started/setup-project.mdx
Labels: documentation

refine EditPage Link spacing
  apps/documentation/src/components/EditPage/EditPage.tsx
  apps/documentation/src/routes/documentation/__layout.tsx
Labels: documentation

docs: add getting-started/setup-project (#488)
  apps/documentation/src/components/EditPage/EditPage.tsx
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/__layout.tsx
  apps/documentation/src/routes/documentation/getting-started/installation.mdx
  apps/documentation/src/routes/documentation/getting-started/setup-project.mdx
Labels: documentation

docs: add SSG page
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-rendering.mdx
Labels: documentation

docs: add Response enum page
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

format
  crates/tuono/src/cli.rs
  crates/tuono/src/watch.rs
Labels: rust

Update apps/documentation/src/routes/documentation/server-utilities/response.mdx
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/server-utilities/response.mdx
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/server-utilities/response.mdx
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/server-utilities/response.mdx
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/server-utilities/response.mdx
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
Labels: documentation

fix: formatting
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

docs: add Response enum page (#500)
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

fix: formatting
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
Labels: documentation

docs: add SSG page (#498)
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-rendering.mdx
Labels: documentation

doc: add Request page
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/server-utilities/request.mdx
Labels: documentation

start work
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/core-concepts/lazy-loading.mdx
Labels: documentation

minor punctuation fixes
  apps/documentation/src/routes/documentation/core-concepts/lazy-loading.mdx
Labels: documentation

better describe example
  apps/documentation/src/routes/documentation/core-concepts/lazy-loading.mdx
Labels: documentation

readability tweaks
  apps/documentation/src/routes/documentation/core-concepts/lazy-loading.mdx
Labels: documentation

rename from hooks to functions, delete core concepts, move in dynamic
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/core-concepts/multithreading.mdx
  apps/documentation/src/routes/documentation/functions/dynamic.mdx
  apps/documentation/src/routes/documentation/functions/use-router.mdx
Labels: documentation

feat: refine `package.json` version ranges
  examples/tuono-app/package.json
  examples/with-mdx/package.json
  packages/tuono-fs-router-vite-plugin/package.json
  pnpm-lock.yaml
Labels: typescript

chore: refine issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/task.yml
Labels: CI/CD

feat: refine `package.json` version ranges (#507)
  examples/tuono-app/package.json
  examples/with-mdx/package.json
  packages/tuono-fs-router-vite-plugin/package.json
  pnpm-lock.yaml
Labels: typescript

fix: typo
  apps/documentation/src/routes/documentation/server-utilities/request.mdx
Labels: documentation

docs: add TuonoScript component mention
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

docs: improve readability
  apps/documentation/public/Menlo-Regular.ttf
  apps/documentation/src/components/MdxProvider/MdxCode/MdxCode.tsx
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.tsx
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/MdxProvider/MdxQuote/MdxQuote.tsx
  apps/documentation/src/components/MdxProvider/MdxText/MdxText.module.css
  apps/documentation/src/components/MdxProvider/MdxText/MdxText.tsx
  apps/documentation/src/components/MdxProvider/MdxText/index.ts
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.module.css
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/index.tsx
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/styles/global.css
Labels: documentation

fix: linter
  apps/documentation/src/components/MdxProvider/MdxText/MdxText.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.tsx
Labels: documentation

refine style
  apps/documentation/src/components/MdxProvider/MdxText/MdxText.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.tsx
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

reduce links visibility
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  apps/documentation/src/components/NavigationButtons/NavigationButtons.tsx
Labels: documentation

refine quote style
  apps/documentation/src/components/MdxProvider/MdxQuote/MdxQuote.tsx
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

fix types
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

implement suggestions
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/functions/dynamic.mdx
Labels: documentation

Update apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

docs: write page for `dynamic` function (#503)
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/core-concepts/multithreading.mdx
  apps/documentation/src/routes/documentation/functions/dynamic.mdx
  apps/documentation/src/routes/documentation/functions/use-router.mdx
Labels: documentation

docs: refine dynamic page hierarchy
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/functions/dynamic.mdx
Labels: documentation

.github/labeler.yml:

# @see https://github.com/actions/labeler

rust:
  - changed-files:
      - any-glob-to-any-file: ['crates/**', 'Cargo.toml']

typescript:
  - changed-files:
      - any-glob-to-any-file:
          [
            'packages/**',
            'package.json',
            'pnpm-*.yaml',
            'eslint.config.js',
            'tsconfig.json',
          ]

documentation:
  - changed-files:
      - any-glob-to-any-file: ['apps/documentation/**']

'CI/CD':
  - changed-files:
      - any-glob-to-any-file: ['.github/**']

'repo maintenance':
  - changed-files:
      - any-glob-to-any-file:
          [
            '.npmrc',
            '.nvmrc',
            '.prettierrc',
            '.prettierignore',
            'renovate.json',
            'turbo.json',
          ]
