Repository tuono-labs/tuono, pull requests merged in 2024-11, with the labels that each got.

#101 Create logger service
  crates/tuono/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/catch_all.rs
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/response.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/src/services.rs
  crates/tuono_lib/src/services/logger.rs
  crates/tuono_lib_macros/Cargo.toml
  packages/fs-router-vite-plugin/package.json
  packages/lazy-fn-vite-plugin/package.json
  packages/router/package.json
  packages/tuono/package.json
Labels: rust

#100 ci: create `install-node-dependencies` action
  .github/actions/install-node-dependencies/action.yml
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
  .github/workflows/release.yml
  .github/workflows/rust.yml
  .github/workflows/spell-checking.yml
  .github/workflows/typescript.yml
  .gitignore
  pnpm-lock.yaml
Labels: CI/CD

#159 Turn `main.rs` into `app.rs`
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  crates/tuono/Cargo.toml
  crates/tuono/src/app.rs
  crates/tuono/src/source_builder.rs
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  examples/tuono-tutorial/src/app.rs
  packages/fs-router-vite-plugin/package.json
  packages/lazy-fn-vite-plugin/package.json
  packages/router/package.json
  packages/tuono/package.json
Labels: bug

#166 ci: trigger workflow only on `push` only on `main`
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
  .github/workflows/release.yml
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
Labels: CI/CD

#172 chore(renovate): enable schedule
  renovate.json
Labels: CI/CD

#174 ci(rust): avoid `beta` and `nightly` toolchains to be executed on macos and windows
  .github/workflows/rust.yml
Labels: CI/CD

#153 feat: add `tuono.config.ts` support
  crates/tuono/src/app.rs
  crates/tuono/src/cli.rs
  examples/tuono-app/tsconfig.json
  examples/tuono-app/tuono.config.ts
  examples/tuono-tutorial/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].tsx
  examples/tuono-tutorial/tsconfig.json
  examples/tuono-tutorial/tuono.config.ts
  examples/with-mdx/tsconfig.json
  examples/with-mdx/tuono.config.ts
  packages/tuono/bin/build-config.js
  packages/tuono/package.json
  packages/tuono/src/build/constants.ts
  packages/tuono/src/build/index.ts
  packages/tuono/src/build/utils.spec.ts
  packages/tuono/src/build/utils.ts
  packages/tuono/src/config/index.ts
  packages/tuono/src/config/types.ts
  packages/tuono/vite.config.ts
Labels: enhancement

#182 feat: update documentation to v0.15.0 and fix aliases
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  apps/documentation/src/routes/__root.tsx
  apps/documentation/src/routes/documentation/__root.tsx
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/contributing.mdx
  apps/documentation/src/routes/documentation/contributing/index.mdx
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
  apps/documentation/src/routes/documentation/index.mdx
  apps/documentation/src/routes/documentation/installation.mdx
  apps/documentation/src/routes/documentation/routing/index.mdx
  apps/documentation/src/routes/documentation/routing/intro.mdx
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/components.mdx
  apps/documentation/src/routes/documentation/tutorial/conclusion.mdx
  apps/documentation/src/routes/documentation/tutorial/development-setup.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/error-handling.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/documentation/tutorial/production.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
  apps/documentation/src/routes/documentation/tutorial/seo.mdx
  apps/documentation/src/routes/index.tsx
  apps/documentation/src/routes/sitemap.xml.rs
  apps/documentation/tsconfig.json
  apps/documentation/tuono.config.ts
  packages/tuono/bin/build-config.js
  pnpm-lock.yaml
Labels: bug
