Repository tuono-labs/tuono, pull requests merged in 2024-12, with the labels that each got.

#189 chore(github actions): refine `on` paths
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust.yml
  .github/workflows/spell-checking.yml
  .github/workflows/typescript.yml
Labels: CI/CD

#187 feat: remove home page from documentation website
  apps/documentation/src/components/breadcrumbs/breadcrumbs.tsx
  apps/documentation/src/components/navbar/actions.tsx
  apps/documentation/src/components/sidebar/sidebar.tsx
  apps/documentation/src/routes/__root.tsx
  apps/documentation/src/routes/documentation/__root.tsx
  apps/documentation/src/routes/index.mdx
  apps/documentation/src/routes/index.tsx
Labels: documentation

#199 refactor(crates/tuono): build - ssg - disable `zombie_processes` warning and use `TUONO_PORT` to generate server URL
  Cargo.toml
  crates/tuono/src/cli.rs
Labels: rust

#200 fix(crates/tuono_lib_macros): remove Cargo.tml warnings
  crates/tuono_lib_macros/Cargo.toml
Labels: rust

#202 chore(eslint): remove `build` folder exclusion
  eslint.config.js
  packages/tuono/src/build/index.ts
  packages/tuono/src/build/utils.spec.ts
  packages/tuono/src/build/utils.ts
Labels: typescript

#205 refactor(typescript): use generic instead of simple array type
  apps/documentation/src/components/breadcrumbs/breadcrumbs.tsx
  apps/documentation/src/components/table-of-content/get-headings.ts
  apps/documentation/src/components/table-of-content/table-of-content.tsx
  eslint.config.js
  examples/tuono-tutorial/src/components/PokemonView.tsx
  examples/tuono-tutorial/src/routes/index.tsx
  packages/fs-router-vite-plugin/src/build-route-config.ts
  packages/fs-router-vite-plugin/src/generator.ts
  packages/fs-router-vite-plugin/src/has-parent-route.ts
  packages/fs-router-vite-plugin/src/sort-route-nodes.ts
  packages/fs-router-vite-plugin/src/types.ts
  packages/fs-router-vite-plugin/src/utils.ts
  packages/router/src/components/RouteMatch.tsx
  packages/router/src/hooks/useRoute.tsx
  packages/router/src/hooks/useRouterStore.tsx
  packages/router/src/route.ts
  packages/router/src/router.ts
  packages/router/src/utils.ts
  packages/tuono/src/build/utils.ts
  packages/tuono/src/ssr/index.tsx
Labels: typescript

#206 refactor(apps/documentation): remove lint errors
  apps/documentation/src/components/sidebar/config.ts
Labels: documentation, typescript

#207 docs: fill defining-routes page
  apps/documentation/src/components/sidebar/sidebar.tsx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

#211 docs: add link and navigation page content
  apps/documentation/src/components/mdx-provider/mdx-code/mdx-code.tsx
  apps/documentation/src/components/sidebar/config.ts
  apps/documentation/src/routes/documentation/routing/link-and-navigation.mdx
Labels: documentation

#215 docs: optimize public images
  apps/documentation/public/android-chrome-192x192.png
  apps/documentation/public/android-chrome-512x512.png
  apps/documentation/public/apple-touch-icon.png
  apps/documentation/public/favicon-16x16.png
  apps/documentation/public/favicon-32x32.png
  apps/documentation/public/logo.svg
  apps/documentation/public/og-cover.png
Labels: documentation

#214 docs: update tuono to 0.16 and add mdx support
  .github/workflows/deploy-documentation.yml
  apps/documentation/package.json
  apps/documentation/tuono.config.ts
  pnpm-lock.yaml
Labels: documentation

#210 feat: create `[...catch_all]` route
  crates/tuono/src/route.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/tests/cli_tests.rs
  crates/tuono_lib/src/payload.rs
  packages/fs-router-vite-plugin/src/generator.ts
  packages/fs-router-vite-plugin/src/utils.ts
  packages/fs-router-vite-plugin/tests/generator/catch_all/routeTree.expected.ts
  packages/fs-router-vite-plugin/tests/generator/catch_all/routes/index.tsx
  packages/fs-router-vite-plugin/tests/generator/catch_all/routes/posts/[...catch_all].tsx
  packages/router/src/hooks/useRoute.spec.tsx
  packages/router/src/hooks/useRoute.tsx
  packages/router/src/hooks/useServerSideProps.tsx
Labels: enhancement

#220 fix(packages/tuono): styles are not in the page when running `tuono dev`
  packages/tuono/src/build/index.ts
Labels: bug, typescript

#222 fix: update `lazyLoadComponent` fn name to `__tuono__internal__lazyLoadComponent`
  .prettierignore
  apps/documentation/package.json
  eslint.config.js
  packages/lazy-fn-vite-plugin/.prettierignore
  packages/lazy-fn-vite-plugin/package.json
  packages/lazy-fn-vite-plugin/src/constants.ts
  packages/lazy-fn-vite-plugin/src/index.ts
  packages/lazy-fn-vite-plugin/tests/sources/external-dynamic/client.expected.tsx
  packages/lazy-fn-vite-plugin/tests/sources/external-dynamic/server.expected.tsx
  packages/lazy-fn-vite-plugin/tests/sources/external-dynamic/source.tsx
  packages/lazy-fn-vite-plugin/tests/sources/vanilla/client.expected.tsx
  packages/lazy-fn-vite-plugin/tests/sources/vanilla/server.expected.tsx
  packages/lazy-fn-vite-plugin/tests/sources/vanilla/source.tsx
  packages/lazy-fn-vite-plugin/tests/transpileSource.test.ts
  packages/lazy-fn-vite-plugin/tsconfig.json
  packages/router/.prettierignore
  packages/router/package.json
  packages/router/src/dynamic.tsx
  packages/router/src/index.ts
  packages/tuono/.prettierignore
  packages/tuono/package.json
  packages/tuono/src/index.ts
Labels: bug

#219 docs: add dynamic routes page
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  apps/documentation/src/components/sidebar/config.ts
  apps/documentation/src/routes/documentation/routing/dynamic-routes.mdx
  apps/documentation/tuono.config.ts
  pnpm-lock.yaml
Labels: documentation

#223 fix(packages/lazy-fn-vite-plugin): make `dynamic` function detection stricter
  packages/fs-router-vite-plugin/tests/generator.spec.ts
  packages/lazy-fn-vite-plugin/src/index.ts
  packages/lazy-fn-vite-plugin/src/utils.ts
  packages/lazy-fn-vite-plugin/tests/sources/dynamic-only/client.expected.tsx
  packages/lazy-fn-vite-plugin/tests/sources/dynamic-only/server.expected.tsx
  packages/lazy-fn-vite-plugin/tests/sources/dynamic-only/source.tsx
  packages/lazy-fn-vite-plugin/tests/transpileSource.test.ts
Labels: bug, typescript

#225 feat: update tuono macro handler naming to avoid naming collisions
  crates/tuono/src/source_builder.rs
  crates/tuono/tests/cli_tests.rs
  crates/tuono_lib_macros/src/handler.rs
Labels: enhancement

#228 chore(apps/documentation): remove `tsconfig.node.json`
  apps/documentation/tsconfig.json
  apps/documentation/tsconfig.node.json
Labels: typescript

#233 feat: update rendering from `renderToString` to `renderToReadableStream`
  packages/tuono/package.json
  packages/tuono/src/build/index.ts
  packages/tuono/src/ssr/index.tsx
  packages/tuono/src/ssr/utils.ts
  pnpm-lock.yaml
Labels: bug, enhancement

#239 chore(bug_report): make system-info fields required and add CLI command to retrieve them
  .github/ISSUE_TEMPLATE/bug_report.yml
Labels: repo maintenance

#238 feat: add MessageChannel polyfill to support react 19
  packages/tuono/src/build/index.ts
  packages/tuono/src/ssr/index.tsx
  packages/tuono/src/ssr/polyfills/messageChannel.spec.ts
  packages/tuono/src/ssr/polyfills/messageChannel.ts
Labels: enhancement

#241 test(packages/tuono): messageChannel - use `vi.fn`
  packages/tuono/src/ssr/polyfills/messageChannel.spec.ts
  packages/tuono/src/ssr/polyfills/messageChannel.ts
Labels: typescript

#243 refactor: enable typescript-eslint strict rules
  .gitignore
  apps/documentation/src/components/table-of-content/table-of-content.tsx
  apps/documentation/src/components/theme-btn/theme-btn.tsx
  eslint.config.js
  packages/fs-router-vite-plugin/src/build-route-config.ts
  packages/fs-router-vite-plugin/src/generator.ts
  packages/router/src/components/RouteMatch.spec.tsx
  packages/router/src/dynamic.tsx
  packages/router/src/hooks/useRoute.spec.tsx
  packages/router/src/hooks/useRouter.tsx
  packages/router/src/hooks/useRouterStore.tsx
  packages/router/src/hooks/useServerSideProps.tsx
  packages/router/src/route.ts
  packages/router/src/router.ts
  packages/tuono/src/ssr/index.tsx
  packages/tuono/src/ssr/polyfills/messageChannel.ts
Labels: repo maintenance

#249 chore: add `.editorconfig`
  .editorconfig
Labels: repo maintenance

#248 refactor: add `eslint-plugin-react-hooks`
  eslint.config.js
  package.json
  packages/router/src/components/RouteMatch.tsx
  packages/router/src/components/RouterProvider.tsx
  packages/router/src/hooks/useListenBrowserUrlUpdates.tsx
  packages/router/src/hooks/useRoute.tsx
  packages/router/src/hooks/useRouterStore.tsx
  packages/router/src/hooks/useServerSideProps.tsx
  packages/router/src/types.ts
  pnpm-lock.yaml
Labels: repo maintenance

#251 chore: add `eslint-plugin-react`
  apps/documentation/src/components/mdx-provider/mdx-title/mdx-title.tsx
  apps/documentation/src/components/sidebar/sidebar.tsx
  eslint.config.js
  package.json
  packages/router/src/components/Link.tsx
  packages/router/src/components/Matches.tsx
  packages/router/src/components/NotFound.tsx
  packages/router/src/components/RouteMatch.spec.tsx
  packages/router/src/components/RouteMatch.tsx
  packages/router/tsconfig.json
  packages/tuono/src/ssr/server.tsx
  packages/tuono/tsconfig.json
  pnpm-lock.yaml
Labels: repo maintenance

#256 feat(packages/tuono-router): replace `zustand` with `React.Context`
  packages/tuono-router/package.json
  packages/tuono-router/src/components/Matches.tsx
  packages/tuono-router/src/components/NotFound.tsx
  packages/tuono-router/src/components/RouterContext.tsx
  packages/tuono-router/src/components/RouterProvider.tsx
  packages/tuono-router/src/globals.ts
  packages/tuono-router/src/hooks/useInternalRouter.tsx
  packages/tuono-router/src/hooks/useListenBrowserUrlUpdates.tsx
  packages/tuono-router/src/hooks/useRoute.spec.tsx
  packages/tuono-router/src/hooks/useRoute.tsx
  packages/tuono-router/src/hooks/useRouter.tsx
  packages/tuono-router/src/hooks/useRouterStore.tsx
  packages/tuono-router/src/hooks/useServerSideProps.tsx
  packages/tuono-router/src/types.ts
  packages/tuono-router/src/utils/from-url-to-parsed-location.ts
  pnpm-lock.yaml
Labels: typescript

#260 feat(packages/vite-plugins): use named export and consistent names across plugins
  packages/tuono-fs-router-vite-plugin/src/index.ts
  packages/tuono-lazy-fn-vite-plugin/src/index.ts
  packages/tuono-lazy-fn-vite-plugin/tests/transpileSource.test.ts
  packages/tuono/src/build/index.ts
Labels: typescript
