Repository tuono-labs/tuono, pull requests merged in 2025-03, with the labels that each got.

#610 feat(env): reapply frontend implementation
  examples/tuono-app/.gitignore
  examples/tuono-app/tsconfig.json
  examples/tuono-tutorial/.gitignore
  examples/tuono-tutorial/src/css-modules.d.ts
  examples/tuono-tutorial/tsconfig.json
  examples/with-mdx/.gitignore
  examples/with-mdx/tsconfig.json
  examples/with-tailwind/.gitignore
  examples/with-tailwind/tsconfig.json
  packages/tuono/package.json
  packages/tuono/src/build-client/index.ts
  packages/tuono/src/build/constants.ts
  packages/tuono/src/build/index.ts
  packages/tuono/vite.config.ts
Labels: typescript

#583 feat(env): add environment variables with hot reload for rust code
  crates/tuono/src/app.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/src/watch.rs
  crates/tuono_lib/src/env.rs
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/env.rs
  crates/tuono_lib/tests/utils/mock_server.rs
  crates/tuono_lib/tests/utils/mod.rs
Labels: rust

#623 chore(deps): update pnpm to v10
  package.json
  pnpm-workspace.yaml
Labels: typescript

#628 feat(examples/tuono-tutorial): improve styles of `PokemonView` component
  examples/tuono-tutorial/src/components/PokemonView.module.css
Labels: enhancement

#629 refactor(packages/tuono-router): use named imports
  packages/tuono-router/src/components/Link.spec.tsx
  packages/tuono-router/src/components/Link.tsx
  packages/tuono-router/src/components/Matches.tsx
  packages/tuono-router/src/components/NotFound.tsx
  packages/tuono-router/src/components/RouteMatch.tsx
  packages/tuono-router/src/hooks/useRouter.ts
  packages/tuono-router/src/index.ts
Labels: typescript

#630 chore: add `@vitest/eslint-plugin`
  eslint.config.js
  package.json
  packages/tuono-fs-router-vite-plugin/src/build-route-config.spec.ts
  packages/tuono-fs-router-vite-plugin/src/has-parent-route.spec.ts
  packages/tuono-fs-router-vite-plugin/src/sort-route-nodes.spec.ts
  packages/tuono-router/src/components/Link.spec.tsx
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/hooks/useRoute.spec.ts
  pnpm-lock.yaml
Labels: typescript

#607 feat: display error overlay
  crates/tuono/src/cli.rs
  crates/tuono/src/source_builder.rs
  crates/tuono_internal/src/config.rs
  crates/tuono_lib/src/ssr.rs
  packages/tuono/src/build/error-overlay.ts
  packages/tuono/src/build/index.ts
  packages/tuono/vite.config.ts
Labels: typescript, rust

#618 feat: Implement .env file support
  crates/tuono/src/app.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/src/watch.rs
  crates/tuono_lib/src/env.rs
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/env.rs
  crates/tuono_lib/tests/utils/mock_server.rs
  crates/tuono_lib/tests/utils/mod.rs
  examples/tuono-app/.gitignore
  examples/tuono-app/tsconfig.json
  examples/tuono-tutorial/.gitignore
  examples/tuono-tutorial/src/css-modules.d.ts
  examples/tuono-tutorial/tsconfig.json
  examples/with-mdx/.gitignore
  examples/with-mdx/tsconfig.json
  examples/with-tailwind/.gitignore
  examples/with-tailwind/tsconfig.json
  packages/tuono/package.json
  packages/tuono/src/build-client/index.ts
  packages/tuono/src/build/constants.ts
  packages/tuono/src/build/index.ts
  packages/tuono/vite.config.ts
Labels: typescript, rust

#627 chore: update version to v0.18.0
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#637 chore(package): add missing `test` script to `check-packages`
  package.json
Labels: typescript

#636 refactor: support crates sub-modules
  crates/tuono/Cargo.toml
  crates/tuono/src/cli.rs
  crates/tuono/src/commands/build.rs
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/commands/mod.rs
  crates/tuono/src/commands/new.rs
  crates/tuono/src/lib.rs
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/src/services/logger.rs
  crates/tuono_lib/src/services/mod.rs
  crates/tuono_lib_macros/Cargo.toml
Labels: rust

#641 test(packages/tuono-router): improve test using mocks
  packages/tuono-router/src/components/Link.spec.tsx
  packages/tuono-router/src/components/NotFound.spec.tsx
  packages/tuono-router/src/components/NotFound.tsx
  packages/tuono-router/src/components/NotFoundDefaultContent.tsx
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/hooks/useRoute.spec.ts
Labels: typescript

#646 fix: prevent returning the previous route data on route transition
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/components/RouteMatch.tsx
Labels: typescript

#647 fix: allow 'index' keyword in routes name
  crates/tuono/src/route.rs
Labels: rust

#648 feat(packages/tuono): improve `TuonoRouteProps` type
  e2e/fixtures/base/src/routes/index.tsx
  examples/tuono-app/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].tsx
  packages/tuono/src/index.ts
  packages/tuono/src/types.spec-d.ts
  packages/tuono/src/types.ts
  packages/tuono/vite.config.ts
Labels: typescript

#650 feat: remove `global.css` import to enable global CSS file customizations
  crates/tuono/src/source_builder.rs
  examples/tuono-app/src/routes/__layout.tsx
  examples/tuono-tutorial/src/routes/__layout.tsx
  examples/with-mdx/src/routes/__layout.tsx
  examples/with-tailwind/src/routes/__layout.tsx
Labels: rust

#653 chore: bump version to v0.19.0
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#655 refactor: source builder
  crates/tuono/src/app.rs
  crates/tuono/src/cli.rs
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/main.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/tests/cli_build.rs
Labels: rust

#667 chore: dedupe lockfile
  pnpm-lock.yaml
Labels: typescript

#672 chore: update ssr_rs to v0.8.2
  crates/tuono_lib/Cargo.toml
Labels: rust

#673 chore: update cargo edition to 2024
  crates/tuono/Cargo.toml
  crates/tuono/src/app.rs
  crates/tuono/src/cli.rs
  crates/tuono/src/commands/build.rs
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/commands/new.rs
  crates/tuono/src/route.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono/tests/utils/temp_tuono_project.rs
  crates/tuono_internal/Cargo.toml
  crates/tuono_internal/tests/utils.rs
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/catch_all.rs
  crates/tuono_lib/src/env.rs
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/payload.rs
  crates/tuono_lib/src/response.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/src/services/logger.rs
  crates/tuono_lib/src/ssr.rs
  crates/tuono_lib/src/vite_websocket_proxy.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/health_check.rs
  crates/tuono_lib/tests/utils/mock_server.rs
  crates/tuono_lib_macros/Cargo.toml
  crates/tuono_lib_macros/src/api.rs
  crates/tuono_lib_macros/src/handler.rs
  crates/tuono_lib_macros/src/utils.rs
Labels: rust

#676 refactor: move static string into templates/ folder
  crates/tuono/Cargo.toml
  crates/tuono/src/source_builder.rs
  crates/tuono/templates/client.ts
  crates/tuono/templates/fallback.html
  crates/tuono/templates/server.rs
  crates/tuono/templates/server.ts
Labels: rust

#678 refactor: `SourceBuilder`
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/source_builder.rs
Labels: rust

#679 chore: bump version (v0.19.1)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#682 test(e2e): run tests on Windows jobs
  package.json
Labels: typescript, CI/CD
