Repository tuono-labs/tuono, pull requests merged in 2025-01, with the labels that each got.

#277 docs(local-development): use `pnpm` instead of `turbo`
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
Labels: documentation

#279 chore(renovate): setup a package rule for eslint
  renovate.json
Labels: repo maintenance

#280 docs: update tuono to 0.16.9
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
  apps/documentation/CONTRIBUTING.md
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  pnpm-lock.yaml
Labels: documentation

#283 feat(packages/tuono-(router|fs-router-vite-plugin)): replace `__route ` with `__layout`
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/sitemap.xml.rs
  crates/tuono/src/app.rs
  examples/tuono-app/src/routes/__layout.tsx
  examples/tuono-tutorial/src/routes/__layout.tsx
  examples/with-mdx/src/routes/__layout.tsx
  packages/tuono-fs-router-vite-plugin/src/build-route-config.spec.ts
  packages/tuono-fs-router-vite-plugin/src/constants.ts
  packages/tuono-fs-router-vite-plugin/src/generator.ts
  packages/tuono-fs-router-vite-plugin/src/has-parent-route.spec.ts
  packages/tuono-fs-router-vite-plugin/src/has-parent-route.ts
  packages/tuono-fs-router-vite-plugin/src/sort-route-nodes.spec.ts
  packages/tuono-fs-router-vite-plugin/src/sort-route-nodes.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/catch_all/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/mdx/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/mdx/routes/__layout.tsx
  packages/tuono-fs-router-vite-plugin/tests/generator/multi-level-root-dynamic/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/multi-level-root-dynamic/routes/__layout.tsx
  packages/tuono-fs-router-vite-plugin/tests/generator/multi-level-root-dynamic/routes/posts/__layout.tsx
  packages/tuono-fs-router-vite-plugin/tests/generator/multi-level/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/multi-level/routes/__layout.tsx
  packages/tuono-fs-router-vite-plugin/tests/generator/single-level/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/single-level/routes/__layout.tsx
  packages/tuono-router/src/components/RouteMatch.tsx
Labels: documentation, enhancement, typescript, rust

#287 fix: catch-all server side handler
  packages/tuono-fs-router-vite-plugin/src/generator.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/catch_all/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/catch_all/routes/posts/[...catch_all].rs
Labels: bug

#290 ci: add pr title check to enforce a consistent git history
  .github/pull_request_template.md
  .github/workflows/pr-title-checker.yml
  CONTRIBUTING.md
  apps/documentation/src/components/navigation-buttons/navigation-buttons.tsx
  apps/documentation/src/components/sidebar/config.ts
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
  apps/documentation/src/routes/documentation/contributing/pull-requests.mdx
Labels: documentation, CI/CD

#276 chore: dockerization of the tuono repo!
  .github/workflows/repo-root-ci.yml
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
  docker/.dockerignore
  docker/Dockerfile
  docker/compose.yml
Labels: repo maintenance

#294 chore: remove `benches` folder
  Cargo.toml
  README.md
  apps/documentation/src/routes/index.mdx
  benches/README.md
  benches/nextjs-app-router/.gitignore
  benches/nextjs-app-router/README.md
  benches/nextjs-app-router/ecosystem.config.js
  benches/nextjs-app-router/next.config.mjs
  benches/nextjs-app-router/package-lock.json
  benches/nextjs-app-router/package.json
  benches/nextjs-app-router/public/next.svg
  benches/nextjs-app-router/public/vercel.svg
  benches/nextjs-app-router/src/app/favicon.ico
  benches/nextjs-app-router/src/app/layout.tsx
  benches/nextjs-app-router/src/app/page.tsx
  benches/nextjs-app-router/src/app/server-side-api.ts
  benches/nextjs-app-router/tsconfig.json
  benches/nextjs-page-router/.gitignore
  benches/nextjs-page-router/README.md
  benches/nextjs-page-router/ecosystem.config.js
  benches/nextjs-page-router/next.config.mjs
  benches/nextjs-page-router/package-lock.json
  benches/nextjs-page-router/package.json
  benches/nextjs-page-router/public/favicon.ico
  benches/nextjs-page-router/public/next.svg
  benches/nextjs-page-router/public/vercel.svg
  benches/nextjs-page-router/src/pages/_app.tsx
  benches/nextjs-page-router/src/pages/_document.tsx
  benches/nextjs-page-router/src/pages/index.tsx
  benches/nextjs-page-router/src/styles/globals.css
  benches/nextjs-page-router/tsconfig.json
  benches/tuono/.gitignore
  benches/tuono/Cargo.toml
  benches/tuono/README.md
  benches/tuono/package-lock.json
  benches/tuono/package.json
  benches/tuono/public/favicon.ico
  benches/tuono/public/react.svg
  benches/tuono/public/rust.svg
  benches/tuono/src/routes/__root.tsx
  benches/tuono/src/routes/index.rs
  benches/tuono/src/routes/index.tsx
  benches/tuono/src/styles/global.css
  benches/tuono/tsconfig.json
  benches/tuono/tsconfig.node.json
  package.json
  renovate.json
Labels: repo maintenance

#298 fix: dev script
  scripts/dev.sh
Labels: repo maintenance

#306 chore(deps): update dependency prettier to v3.4.2
  package.json
  pnpm-lock.yaml
Labels: repo maintenance

#310 chore: add PR labeler
  .github/labeler.yml
  .github/workflows/pr-labeler.yml
Labels: CI/CD, repo maintenance

#325 docs: Add useRouter Documentation
  apps/documentation/src/routes/documentation/hooks/use-router.mdx
Labels: documentation

#328 fix(deps): revert update dependency @babel/types to v7.26.5
  pnpm-lock.yaml
Labels: typescript

#307 docs(configuration): fill page content
  apps/documentation/src/components/mdx-provider/mdx-bold/mdx-bold.tsx
  apps/documentation/src/components/sidebar/config.ts
  apps/documentation/src/routes/documentation/configuration.mdx
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
Labels: documentation

#339 chore: refine useRouter return type and update docs
  apps/documentation/src/routes/documentation/hooks/use-router.mdx
  packages/tuono-router/src/hooks/useRouter.tsx
Labels: documentation, typescript

#337 chore: remove `RouterProvider` from `tuono` exports
  packages/tuono/src/index.ts
Labels: typescript

#342 docs(configuration): add types and reformat `vite` properties
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

#340 chore(renovate): change `prConcurrentLimit` to 5 (default 10) and schedule once per week
  renovate.json
Labels: repo maintenance

#347 chore: dedupe deps
  pnpm-lock.yaml
Labels: typescript

#345 chore(renovate): fix schedule
  renovate.json
Labels: repo maintenance

#346 fix(packages/tuono): config - correct `vite.plugins` type
  packages/tuono/src/config/types.ts
Labels: typescript

#349 docs(configuration): remove unclear doc
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

#335 docs: more cohesive documentation for linking and navigation, `Link` and `useRouter`
  apps/documentation/src/routes/documentation/components/link.mdx
  apps/documentation/src/routes/documentation/routing/link-and-navigation.mdx
Labels: documentation

#354 chore: bump version to v0.17.1
  crates/tuono/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#356 fix: revert "chore: bump version to v0.17.1"
  crates/tuono/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#331 feat: add support for client only lazy loading with `dynamic`
  packages/tuono-fs-router-vite-plugin/src/constants.ts
  packages/tuono-fs-router-vite-plugin/src/generator.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/catch_all/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/mdx/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/multi-level-root-dynamic/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/multi-level/routeTree.expected.ts
  packages/tuono-fs-router-vite-plugin/tests/generator/single-level/routeTree.expected.ts
  packages/tuono-lazy-fn-vite-plugin/README.md
  packages/tuono-lazy-fn-vite-plugin/package.json
  packages/tuono-lazy-fn-vite-plugin/src/constants.ts
  packages/tuono-lazy-fn-vite-plugin/src/index.ts
  packages/tuono-lazy-fn-vite-plugin/src/utils.ts
  packages/tuono-lazy-fn-vite-plugin/tests/sources/dynamic-only/client.expected.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/dynamic-only/server.expected.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/dynamic-only/source.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/external-dynamic/client.expected.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/external-dynamic/server.expected.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/external-dynamic/source.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/vanilla/client.expected.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/vanilla/server.expected.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/sources/vanilla/source.tsx
  packages/tuono-lazy-fn-vite-plugin/tests/transpileSource.test.ts
  packages/tuono-lazy-fn-vite-plugin/tsconfig.json
  packages/tuono-lazy-fn-vite-plugin/vite.config.ts
  packages/tuono-router/src/dynamic.tsx
  packages/tuono-router/src/index.ts
  packages/tuono-router/src/types.ts
  packages/tuono/package.json
  packages/tuono/src/build/index.ts
  packages/tuono/src/dynamic/RouteLazyLoading.tsx
  packages/tuono/src/dynamic/dynamic.tsx
  packages/tuono/src/index.ts
  pnpm-lock.yaml
Labels: typescript

#357 chore: bump version to v0.17.1
  crates/tuono/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#352 docs: move from bullet points to tables for reference docs
  apps/documentation/package.json
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/MdxProvider/MdxTable/MdxTable.tsx
  apps/documentation/src/components/MdxProvider/MdxTable/index.ts
  apps/documentation/src/routes/documentation/components/link.mdx
  apps/documentation/src/routes/documentation/hooks/use-router.mdx
  apps/documentation/tuono.config.ts
  pnpm-lock.yaml
Labels: documentation, typescript

#351 docs(styles): add Tailwind CSS
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
Labels: documentation

#361 fix: broken docs tables
  apps/documentation/src/components/MdxProvider/MdxTable/MdxTable.tsx
  apps/documentation/src/routes/documentation/hooks/use-router.mdx
Labels: documentation

#368 ci: redesign CI-related workflows to allow marking them as "Required” before merging a PR
  .github/workflows/ci-documentation.yml
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
Labels: CI/CD

#359 feat: add a `with-tailwind` example
  Cargo.toml
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
  examples/with-tailwind/.gitignore
  examples/with-tailwind/Cargo.toml
  examples/with-tailwind/README.md
  examples/with-tailwind/package.json
  examples/with-tailwind/public/favicon.ico
  examples/with-tailwind/src/routes/__layout.tsx
  examples/with-tailwind/src/routes/index.tsx
  examples/with-tailwind/src/styles/global.css
  examples/with-tailwind/tsconfig.json
  examples/with-tailwind/tuono.config.ts
  pnpm-lock.yaml
Labels: documentation, enhancement, typescript, rust

#365 chore: bump to v0.17.2
  crates/tuono/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#297 fix: propagate build error and check if js files exist
  crates/tuono/Cargo.toml
  crates/tuono/src/app.rs
  crates/tuono/src/watch.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono/tests/utils.rs
Labels: enhancement, rust

#370 ci: add unique names on `ci_ok` jobs
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust.yml
  .github/workflows/typescript.yml
Labels: CI/CD

#371 fix: create a component tree that matches between client and server to avoid `useId` output mismatch
  examples/tuono-app/src/routes/__layout.tsx
  examples/tuono-app/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/__layout.tsx
  examples/with-mdx/src/routes/__layout.tsx
  examples/with-tailwind/src/routes/__layout.tsx
  packages/tuono-router/src/components/RouterContext.tsx
  packages/tuono-router/src/components/RouterProvider.tsx
  packages/tuono-router/src/globals.ts
  packages/tuono-router/src/index.ts
  packages/tuono-router/src/types.ts
  packages/tuono/src/hydration/index.tsx
  packages/tuono/src/index.ts
  packages/tuono/src/shared/DevResources.tsx
  packages/tuono/src/shared/ProdResources.tsx
  packages/tuono/src/shared/TuonoScripts.tsx
  packages/tuono/src/shared/dynamic/RouteLazyLoading.tsx
  packages/tuono/src/shared/dynamic/dynamic.tsx
  packages/tuono/src/shared/dynamic/index.ts
  packages/tuono/src/ssr/components/ProdResources.tsx
  packages/tuono/src/ssr/server.tsx
Labels: typescript

#372 chore: bump version to v0.17.3
  crates/tuono/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#364 chore: update documentation to tuono 0.17.x
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  apps/documentation/src/components/Breadcrumbs/Breadcrumbs.tsx
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/MetaTags/MetaTags.tsx
  apps/documentation/src/routes/__layout.tsx
  pnpm-lock.yaml
Labels: documentation, typescript

#385 chore(packages/tuono): remove dynamic orphan files
  packages/tuono/src/dynamic/RouteLazyLoading.tsx
  packages/tuono/src/dynamic/dynamic.tsx
Labels: typescript

#374 refactor: add `TuonoEntryPoint`
  packages/tuono-router/src/index.ts
  packages/tuono-router/src/router.ts
  packages/tuono/src/hydration/index.tsx
  packages/tuono/src/shared/TuonoEntryPoint.tsx
  packages/tuono/src/ssr/server.tsx
Labels: typescript

#366 feat: add host and port support to TuonoConfig
  packages/tuono/src/build/config/create-json-config.ts
  packages/tuono/src/build/config/index.ts
  packages/tuono/src/build/config/load-config.spec.ts
  packages/tuono/src/build/config/load-config.ts
  packages/tuono/src/build/config/normalize-config.spec.ts
  packages/tuono/src/build/config/normalize-config.ts
  packages/tuono/src/build/constants.ts
  packages/tuono/src/build/index.ts
  packages/tuono/src/build/types.ts
  packages/tuono/src/build/utils.spec.ts
  packages/tuono/src/build/utils.ts
  packages/tuono/src/config/types.ts
Labels: typescript

#392 chore(deps): update dependency @types/react to v19.0.7
  apps/documentation/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  pnpm-lock.yaml
Labels: documentation, typescript

#395 feat: create `tuono_internal` crate
  Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_internal/README.md
  crates/tuono_internal/src/config.rs
  crates/tuono_internal/src/lib.rs
  crates/tuono_internal/tests/config.rs
  crates/tuono_internal/tests/utils.rs
Labels: rust

#401 fix(deps): update dependency vite to v5.4.12 [security]
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  pnpm-lock.yaml
Labels: typescript

#402 docs: remove "Components > Head" entry from sidebar
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/components/head.mdx
Labels: documentation

#404 ci(docs): use tuono 0.17.3 in docs workflows
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
Labels: CI/CD

#399 feat: load `config` in tuono CLI
  crates/tuono/Cargo.toml
  crates/tuono/src/app.rs
  crates/tuono/src/cli.rs
  crates/tuono/src/mode.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono_internal/src/config.rs
Labels: rust

#407 feat: pass config from server to client
  crates/tuono_internal/src/config.rs
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/config.rs
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/payload.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/src/vite_reverse_proxy.rs
  crates/tuono_lib/src/vite_websocket_proxy.rs
  packages/tuono-router/src/types.ts
  packages/tuono/src/shared/DevResources.tsx
Labels: typescript, rust

#409 chore: bump version 0.17.4
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#408 feat(crates/tuono): add `--head` flag to download most recent template
  crates/tuono/src/cli.rs
  crates/tuono/src/scaffold_project.rs
Labels: rust

#413 refactor: create `TuonoContext`
  crates/tuono_lib/src/payload.rs
  packages/tuono-router/src/components/Link.tsx
  packages/tuono-router/src/components/Matches.tsx
  packages/tuono-router/src/components/NotFound.tsx
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/components/RouteMatch.tsx
  packages/tuono-router/src/components/RouterContext.tsx
  packages/tuono-router/src/components/RouterProvider.tsx
  packages/tuono-router/src/globals.d.ts
  packages/tuono-router/src/hooks/useRoute.spec.ts
  packages/tuono-router/src/hooks/useRoute.ts
  packages/tuono-router/src/hooks/useRouter.ts
  packages/tuono-router/src/hooks/useServerPayloadData.ts
  packages/tuono-router/src/index.ts
  packages/tuono-router/src/router.ts
  packages/tuono-router/src/types.ts
  packages/tuono/src/constants.ts
  packages/tuono/src/globals.d.ts
  packages/tuono/src/shared/DevResources.tsx
  packages/tuono/src/shared/ProdResources.tsx
  packages/tuono/src/shared/RouterContextProviderWrapper.tsx
  packages/tuono/src/shared/TuonoContext.tsx
  packages/tuono/src/shared/TuonoEntryPoint.tsx
  packages/tuono/src/shared/TuonoScripts.tsx
  packages/tuono/src/ssr/server.tsx
  packages/tuono/src/types.ts
Labels: enhancement, typescript, rust

#415 fix(packages/tuono): build error when config contains vite plugins
  packages/tuono/src/build/config/create-json-config.spec.ts
  packages/tuono/src/build/config/create-json-config.ts
Labels: typescript

#416 docs: update tuono to 0.17.5
  .github/workflows/ci-documentation.yml
  .github/workflows/deploy-documentation.yml
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  eslint.config.js
  pnpm-lock.yaml
Labels: documentation, typescript, CI/CD

#394 docs: table of contents
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
  apps/documentation/src/components/MdxWrapper/index.ts
  apps/documentation/src/components/TableOfContents/TableOfContents.module.css
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/components/TableOfContents/getHeadings.ts
  apps/documentation/src/routes/__layout.tsx
Labels: documentation

#423 fix(docs): content overflow
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

#432 ci(pr-title-checker): test type is marked as invalid
  .github/workflows/pr-title-checker.yml
Labels: CI/CD

#332 ci: add docker image test workflow
  .github/workflows/docker-ci.yml
  docker/Dockerfile
Labels: CI/CD

#442 chore(deps): update dependency @types/react to v19.0.8
  apps/documentation/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  pnpm-lock.yaml
Labels: documentation, typescript

#444 test(packages/tuono-router): replace `jsdom` with `happy-dom`
  packages/tuono-router/package.json
  packages/tuono-router/vite.config.ts
  pnpm-lock.yaml
Labels: typescript

#420 fix: check if project contains `tuono.config.ts` before running dev/build
  crates/tuono/src/cli.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono/tests/utils.rs
Labels: rust

#447 docs(tutorial): correct api fetching example
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
Labels: documentation

#448 ci: add `concurrency` flag for CI workflows
  .github/workflows/docker-ci.yml
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust-ci.yml
  .github/workflows/spell-checking.yml
  .github/workflows/typescript-ci.yml
Labels: CI/CD

#446 docs(configuration): add documentation for `server` option
  apps/documentation/src/routes/documentation/configuration.mdx
  packages/tuono/src/config/types.ts
Labels: documentation, typescript

#427 docs: add notes about pull request and validating changes
  .github/pull_request_template.md
  apps/documentation/src/routes/documentation/contributing/local-development.mdx
  apps/documentation/src/routes/documentation/contributing/pull-requests.mdx
Labels: documentation, CI/CD

#449 feat(examples/tuono-tutorial): rewrite tuono-tutorial
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/components.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/redirections.mdx
  apps/documentation/src/routes/documentation/tutorial/seo.mdx
  examples/tuono-tutorial/src/components/PokemonLink.tsx
  examples/tuono-tutorial/src/components/PokemonView.module.css
  examples/tuono-tutorial/src/components/PokemonView.tsx
  examples/tuono-tutorial/src/css-modules.d.ts
  examples/tuono-tutorial/src/routes/index.tsx
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].tsx
  examples/tuono-tutorial/tsconfig.json
Labels: documentation

#425 test: integration test to `tuono_lib`
  crates/tuono/src/source_builder.rs
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/manifest.rs
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/tests/assets/fake_react_build.js
  crates/tuono_lib/tests/main.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/health_check.rs
  crates/tuono_lib/tests/utils/mod.rs
  crates/tuono_lib/tests/utils/route.rs
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

#453 chore: bump version to v0.17.6
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#461 docs: update to tuono 0.17.6
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  pnpm-lock.yaml
Labels: documentation, typescript, CI/CD

#451 docs: use consistent snippet style across the codebase
  apps/documentation/README.md
  apps/documentation/src/components/Hero/Hero.tsx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/components/link.mdx
  apps/documentation/src/routes/documentation/installation.mdx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/api-fetching.mdx
  apps/documentation/src/routes/documentation/tutorial/development-setup.mdx
  apps/documentation/src/routes/documentation/tutorial/dynamic-routes.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/documentation/tutorial/production.mdx
  examples/README.md
  examples/tuono-app/README.md
  examples/tuono-tutorial/README.md
  examples/with-mdx/README.md
  examples/with-tailwind/README.md
Labels: documentation

#464 fix(crates/tuono_lib): print server url as valid URL to be clickable on CLI
  crates/tuono_lib/src/server.rs
Labels: rust

#462 ci: get documentation `tuono` version automatically
  .github/workflows/documentation-ci.yml
  .github/workflows/documentation-deploy.yml
Labels: CI/CD

#426 fix(docs): fix all line and link overflow issues
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.module.css
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.tsx
  apps/documentation/src/components/MdxWrapper/MdxWrapper.module.css
  apps/documentation/src/components/MdxWrapper/MdxWrapper.tsx
Labels: documentation

#467 docs: add headings containing only code to ToC
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation

#471 fix: heading order
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
Labels: documentation
