Repository tuono-labs/tuono, pull requests merged in 2025-05, with the labels that each got.

#765 feat: load critical CSS on development
  crates/tuono/Cargo.toml
  crates/tuono/src/commands/dev.rs
  crates/tuono_lib/src/vite_reverse_proxy.rs
  packages/tuono-react-vite-plugin/src/plugin.ts
  packages/tuono-react-vite-plugin/src/styles.ts
  packages/tuono-router/src/components/CriticalCss.tsx
  packages/tuono-router/src/components/Matches.tsx
  packages/tuono-router/src/components/NotFound.tsx
  packages/tuono-router/src/components/RouteMatch.tsx
  packages/tuono-router/src/components/RouterProvider.tsx
  packages/tuono-router/src/hooks/useRoute.ts
  packages/tuono-router/src/types.ts
  packages/tuono/src/shared/DevResources.tsx
  packages/tuono/src/shared/RouterContextProviderWrapper.tsx
  packages/tuono/src/shared/TuonoEntryPoint.tsx
  packages/tuono/src/ssr/types.ts
  packages/tuono/src/types.ts
Labels: typescript, rust

#769 chore: bump ssr_rs (0.8.3)
  crates/tuono_lib/Cargo.toml
Labels: rust

#770 fix: improve critical css generation
  packages/tuono-react-vite-plugin/src/fs-routing/generator.ts
  packages/tuono-react-vite-plugin/src/styles.ts
  packages/tuono-react-vite-plugin/tests/generator/catch_all/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/mdx/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/multi-level/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/single-level/routeTree.expected.ts
  packages/tuono-router/src/components/CriticalCss.tsx
  packages/tuono-router/src/components/NotFound.tsx
  packages/tuono-router/src/components/RouteMatch.tsx
  packages/tuono-router/src/route.ts
Labels: typescript

#771 chore: bump version (0.19.6)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-react-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#780 fix(crates/tuono): Fix HTTP method handling for mixed-case input
  crates/tuono/src/app.rs
  crates/tuono/src/route.rs
  crates/tuono/tests/cli_build.rs
Labels: rust

#783 feat: parse manifest on server start
  crates/tuono_lib/src/manifest.rs
  crates/tuono_lib/src/payload.rs
  crates/tuono_lib/src/server.rs
Labels: rust

#785 feat: improve manifest data collection
  crates/tuono_lib/src/manifest.rs
Labels: rust

#784 chore: bump version (v0.19.7)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-react-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust
