Repository tuono-labs/tuono, pull requests merged in 2025-04, with the labels that each got.

#681 refactor: tuono dev script
  crates/tuono/Cargo.toml
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/lib.rs
  crates/tuono/src/process_manager.rs
Labels: rust

#698 ci: simplify CI OK jobs
  .github/workflows/e2e-ci.yml
  .github/workflows/repo-root-ci.yml
  .github/workflows/rust-ci.yml
  .github/workflows/typescript-ci.yml
Labels: CI/CD

#699 refactor: create more types to simplify `TuonoConfig` management
  packages/tuono/src/build/types.ts
  packages/tuono/src/config/index.ts
  packages/tuono/src/config/types.ts
Labels: typescript

#702 feat: add `TuonoLayoutProps` interface
  examples/tuono-app/src/routes/__layout.tsx
  examples/tuono-tutorial/src/routes/__layout.tsx
  examples/with-mdx/src/routes/__layout.tsx
  examples/with-tailwind/src/routes/__layout.tsx
  packages/tuono/src/index.ts
  packages/tuono/src/types.ts
Labels: typescript

#651 feat: add form_data method into request
  crates/tuono_lib/src/request.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/form_data.rs
  crates/tuono_lib/tests/utils/mock_server.rs
  crates/tuono_lib/tests/utils/mod.rs
Labels: enhancement, rust

#704 chore: bump version (v0.19.2)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#710 feat: refresh types on file change
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/src/typescript/types_jar.rs
Labels: rust

#701 refactor: refine ServerPayload type using a union with mode as discriminant
  packages/tuono/src/shared/DevResources.tsx
  packages/tuono/src/shared/ProdResources.tsx
  packages/tuono/src/shared/TuonoScripts.tsx
  packages/tuono/src/types.ts
Labels: typescript

#726 feat: remove types on file delete
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/src/typescript/types_jar.rs
Labels: rust

#558 feat: init new git repo for new projects
  crates/tuono/src/commands/new.rs
Labels: rust

#729 feat: prevent duplicated types
  crates/tuono/src/typescript/file_types.rs
  crates/tuono/src/typescript/types_jar.rs
Labels: rust

#713 fix: prevent multiple server address print
  crates/tuono/Cargo.toml
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/process_manager.rs
  crates/tuono/templates/server.rs
  crates/tuono_internal/src/lib.rs
  crates/tuono_internal/src/tuono_println.rs
  crates/tuono_lib/src/server.rs
Labels: rust

#731 fix: format:fix turbo command
  package.json
Labels: typescript, CI/CD

#734 chore: dedupe dependencies
  pnpm-lock.yaml
Labels: typescript

#730 fix: old data kept on new route during transition
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/components/RouteMatch.tsx
  packages/tuono-router/src/components/RouterContext.tsx
  packages/tuono-router/src/hooks/useServerPayloadData.ts
Labels: typescript

#732 chore: bump version (v0.19.3)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#735 feat: prevent file generation if type not changed
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/src/typescript/types_jar.rs
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].rs
Labels: rust

#737 feat: allow serde 'rename_all' modifier
  crates/tuono/Cargo.toml
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/lib.rs
  crates/tuono/src/process_manager.rs
  crates/tuono/src/symbols.rs
  crates/tuono/src/typescript/file_types.rs
  crates/tuono/src/typescript/mod.rs
  crates/tuono/src/typescript/parser.rs
  crates/tuono/src/typescript/parser/mod.rs
  crates/tuono/src/typescript/parser/parse_struct.rs
  crates/tuono/src/typescript/types_jar.rs
  crates/tuono/src/typescript/utils.rs
  crates/tuono_lib/src/payload.rs
Labels: rust

#739 feat: create base enum parser
  crates/tuono/src/typescript/file_types.rs
  crates/tuono/src/typescript/parser/mod.rs
  crates/tuono/src/typescript/parser/parse_enum.rs
  crates/tuono/src/typescript/parser/parse_struct.rs
  crates/tuono/src/typescript/parser/utils.rs
  crates/tuono/src/typescript/utils.rs
  examples/tuono-app/src/routes/index.rs
  examples/tuono-tutorial/src/routes/index.rs
  examples/tuono-tutorial/src/routes/pokemons/[pokemon].rs
Labels: rust

#703 feat: add automatic types generation
  .github/workflows/examples-ci.yml
  crates/tuono/Cargo.toml
  crates/tuono/src/app.rs
  crates/tuono/src/commands/dev.rs
  crates/tuono/src/lib.rs
  crates/tuono/src/process_manager.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/src/symbols.rs
  crates/tuono/src/typescript/file_types.rs
  crates/tuono/src/typescript/mod.rs
  crates/tuono/src/typescript/parser/mod.rs
  crates/tuono/src/typescript/parser/parse_enum.rs
  crates/tuono/src/typescript/parser/parse_struct.rs
  crates/tuono/src/typescript/parser/utils.rs
  crates/tuono/src/typescript/types_jar.rs
  crates/tuono/src/typescript/utils.rs
  crates/tuono_lib/src/lib.rs
  crates/tuono_lib/src/payload.rs
  crates/tuono_lib_macros/src/lib.rs
  e2e/fixtures/base/src/routes/index.rs
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/tsconfig.json
  examples/tuono-app/tsconfig.json
  examples/tuono-tutorial/tsconfig.json
  examples/with-mdx/tsconfig.json
  examples/with-tailwind/tsconfig.json
Labels: rust, CI/CD

#748 chore: bump version (v0.19.4)
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#756 refactor: turn `tuono-fs-router-vite-plugin` into `tuono-react-vite-plugin`
  eslint.config.js
  packages/tuono-react-vite-plugin/README.md
  packages/tuono-react-vite-plugin/package.json
  packages/tuono-react-vite-plugin/src/fs-routing/build-route-config.spec.ts
  packages/tuono-react-vite-plugin/src/fs-routing/build-route-config.ts
  packages/tuono-react-vite-plugin/src/fs-routing/constants.ts
  packages/tuono-react-vite-plugin/src/fs-routing/generator.ts
  packages/tuono-react-vite-plugin/src/fs-routing/has-parent-route.spec.ts
  packages/tuono-react-vite-plugin/src/fs-routing/has-parent-route.ts
  packages/tuono-react-vite-plugin/src/fs-routing/is-default-exported.ts
  packages/tuono-react-vite-plugin/src/fs-routing/sort-route-nodes.spec.ts
  packages/tuono-react-vite-plugin/src/fs-routing/sort-route-nodes.ts
  packages/tuono-react-vite-plugin/src/fs-routing/utils.ts
  packages/tuono-react-vite-plugin/src/index.ts
  packages/tuono-react-vite-plugin/src/plugin.ts
  packages/tuono-react-vite-plugin/src/types.ts
  packages/tuono-react-vite-plugin/tests/generator.spec.ts
  packages/tuono-react-vite-plugin/tests/generator/catch_all/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/catch_all/routes/index.tsx
  packages/tuono-react-vite-plugin/tests/generator/catch_all/routes/posts/[...catch_all].rs
  packages/tuono-react-vite-plugin/tests/generator/catch_all/routes/posts/[...catch_all].tsx
  packages/tuono-react-vite-plugin/tests/generator/mdx/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/mdx/routes/__layout.tsx
  packages/tuono-react-vite-plugin/tests/generator/mdx/routes/about.mdx
  packages/tuono-react-vite-plugin/tests/generator/mdx/routes/index.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routes/__layout.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routes/about.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routes/index.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routes/posts/[post].tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routes/posts/__layout.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routes/posts/index.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level-root-dynamic/routes/posts/my-post.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/multi-level/routes/__layout.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level/routes/about.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level/routes/index.tsx
  packages/tuono-react-vite-plugin/tests/generator/multi-level/routes/posts/my-post.tsx
  packages/tuono-react-vite-plugin/tests/generator/single-level/routeTree.expected.ts
  packages/tuono-react-vite-plugin/tests/generator/single-level/routes/__layout.tsx
  packages/tuono-react-vite-plugin/tests/generator/single-level/routes/about.tsx
  packages/tuono-react-vite-plugin/tests/generator/single-level/routes/index.tsx
  packages/tuono-react-vite-plugin/tsconfig.json
  packages/tuono-react-vite-plugin/vite.config.ts
  packages/tuono/package.json
  packages/tuono/src/build/index.ts
  pnpm-lock.yaml
Labels: typescript
