Repository tuono-labs/tuono, pull requests merged in 2025-02, with the labels that each got.

#475 docs: indent ToC based on heading levels
  apps/documentation/src/components/TableOfContents/TableOfContents.module.css
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/components/TableOfContents/getHeadings.ts
  apps/documentation/src/routes/documentation/configuration.mdx
Labels: documentation

#477 docs: remove valerioageno email reference
  apps/documentation/src/routes/documentation/contributing.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
Labels: documentation

#473 docs: add SSR page
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
Labels: documentation

#478 test(packages/tuono-router): refine unit tests
  packages/tuono-router/package.json
  packages/tuono-router/src/components/RouteMatch.spec.tsx
  packages/tuono-router/src/hooks/useRoute.spec.ts
  pnpm-lock.yaml
Labels: typescript

#480 docs: remove "How is tuono different?" and refine “Installation”
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/how-is-tuono-different.mdx
  apps/documentation/src/routes/documentation/installation.mdx
Labels: documentation

#486 docs: add custom 404 page
  apps/documentation/src/components/EditPage/EditPage.tsx
  apps/documentation/src/components/MdxWrapper/index.ts
  apps/documentation/src/components/PageWithTOC/PageWithTOC.module.css
  apps/documentation/src/components/PageWithTOC/PageWithTOC.tsx
  apps/documentation/src/components/PageWithTOC/index.ts
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/routes/404.tsx
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/routes/documentation/__layout.tsx
Labels: documentation

#488 docs: add getting-started/setup-project
  apps/documentation/src/components/EditPage/EditPage.tsx
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/__layout.tsx
  apps/documentation/src/routes/documentation/getting-started/installation.mdx
  apps/documentation/src/routes/documentation/getting-started/setup-project.mdx
Labels: documentation

#500 docs: add Response enum page
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/server-utilities/response.mdx
Labels: documentation

#498 docs: add SSG page
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/rendering/server-side-rendering.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-generation.mdx
  apps/documentation/src/routes/documentation/rendering/static-site-rendering.mdx
Labels: documentation

#503 docs: write page for `dynamic` function
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/core-concepts/multithreading.mdx
  apps/documentation/src/routes/documentation/functions/dynamic.mdx
  apps/documentation/src/routes/documentation/functions/use-router.mdx
Labels: documentation

#509 docs: add TuonoScript component mention
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

#511 docs: refine dynamic page hierarchy
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/functions/dynamic.mdx
Labels: documentation

#510 docs: improve readability
  apps/documentation/public/Menlo-Regular.ttf
  apps/documentation/src/components/MdxProvider/MdxCode/MdxCode.tsx
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  apps/documentation/src/components/MdxProvider/MdxParagraph/MdxParagraph.module.css
  apps/documentation/src/components/MdxProvider/MdxParagraph/MdxParagraph.tsx
  apps/documentation/src/components/MdxProvider/MdxParagraph/index.ts
  apps/documentation/src/components/MdxProvider/MdxPre/MdxPre.tsx
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/MdxProvider/MdxQuote/MdxQuote.tsx
  apps/documentation/src/components/MdxProvider/MdxTitle/MdxTitle.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.module.css
  apps/documentation/src/components/MdxProvider/MdxUl/MdxUl.tsx
  apps/documentation/src/components/MdxProvider/MdxUl/index.tsx
  apps/documentation/src/components/NavigationButtons/NavigationButtons.tsx
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/styles/global.css
Labels: documentation

#515 docs: fix quote blocks
  apps/documentation/src/routes/__layout.tsx
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

#516 docs: fix typo
  apps/documentation/src/routes/documentation/routing/defining-routes.mdx
Labels: documentation

#513 docs: add `/styles/css-modules` page
  apps/documentation/src/routes/documentation/styles/css-modules.mdx
Labels: documentation

#514 docs: add mdx page
  apps/documentation/src/routes/documentation/integrations/mdx.mdx
  apps/documentation/src/routes/documentation/styles/tailwind-css.mdx
Labels: documentation

#517 docs: add privacy policy
  apps/documentation/src/components/MdxProvider/MdxProvider.tsx
  apps/documentation/src/components/TableOfContents/TableOfContents.tsx
  apps/documentation/src/routes/policies/privacy.mdx
Labels: documentation

#508 chore: refine issue templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
Labels: CI/CD

#522 fix: with-tailwind template download
  crates/tuono/src/scaffold_project.rs
  examples/tuono-app/Cargo.toml
  examples/tuono-tutorial/Cargo.toml
  examples/with-mdx/Cargo.toml
Labels: rust

#519 docs: enable posthog analytics
  apps/documentation/.env.local
  apps/documentation/.env.production
  apps/documentation/package.json
  apps/documentation/src/components/App/App.tsx
  apps/documentation/src/components/App/index.ts
  apps/documentation/src/components/PostHog/PostHogPageView.tsx
  apps/documentation/src/components/PostHog/PostHogProvider.tsx
  apps/documentation/src/components/PostHog/index.ts
  apps/documentation/src/env.d.ts
  apps/documentation/src/routes/__layout.tsx
  pnpm-lock.yaml
Labels: documentation, typescript

#525 chore(deps): update dependency turbo to v2.4.0
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: typescript, repo maintenance

#529 chore: update ssr_rs to v0.8.1
  crates/tuono_lib/Cargo.toml
Labels: rust

#523 chore: bump version to v0.17.7
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#524 docs: update tuono version to v0.17.7
  apps/documentation/Cargo.toml
  apps/documentation/package.json
  pnpm-lock.yaml
Labels: documentation, typescript

#530 docs(sitemap.xml): exclude 404 page
  apps/documentation/src/routes/sitemap.xml.rs
Labels: documentation

#528 docs: add API routes page
  apps/documentation/src/components/Sidebar/sidebarElements.ts
  apps/documentation/src/routes/documentation/routing/api-routes.mdx
Labels: documentation

#532 docs: fix broken links
  apps/documentation/src/routes/documentation/application-state.mdx
  apps/documentation/src/routes/documentation/cli.mdx
  apps/documentation/src/routes/documentation/tutorial/index.mdx
  apps/documentation/src/routes/index.mdx
Labels: documentation

#518 feat: add css key to vite config
  apps/documentation/src/routes/documentation/configuration.mdx
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  packages/tuono/src/build/config/normalize-config.spec.ts
  packages/tuono/src/build/config/normalize-config.ts
  packages/tuono/src/build/index.ts
  packages/tuono/src/config/types.ts
  pnpm-lock.yaml
Labels: documentation, typescript

#534 fix: update link component to allow modifier+click to properly work, and write tests
  apps/documentation/src/components/MdxProvider/MdxLink/MdxLink.tsx
  packages/tuono-router/src/components/Link.spec.tsx
  packages/tuono-router/src/components/Link.tsx
Labels: documentation, typescript

#540 test(packages/tuono-router): use screen instead of render matchers
  packages/tuono-router/src/components/Link.spec.tsx
Labels: typescript

#547 chore(pnpm): dedupe dependencies
  pnpm-lock.yaml
Labels: typescript

#550 feat: add spinner to 'tuono dev'
  crates/tuono/Cargo.toml
  crates/tuono/src/watch.rs
Labels: rust

#555 feat: polyfill URLSearchParams on the server side
  packages/tuono-router/src/components/RouterContext.tsx
  packages/tuono/package.json
  packages/tuono/src/ssr/server.tsx
  pnpm-lock.yaml
Labels: typescript

#535 feat: Add e2e setup and tests
  .github/workflows/e2e-ci.yml
  .gitignore
  Cargo.toml
  e2e/e2e-test-setup.js
  e2e/fixtures/base/.gitignore
  e2e/fixtures/base/Cargo.toml
  e2e/fixtures/base/package.json
  e2e/fixtures/base/playwright.config.ts
  e2e/fixtures/base/src/routes/__layout.tsx
  e2e/fixtures/base/src/routes/index.rs
  e2e/fixtures/base/src/routes/index.tsx
  e2e/fixtures/base/src/routes/second-route/index.tsx
  e2e/fixtures/base/src/styles/global.css
  e2e/fixtures/base/tests/e2e.spec.ts
  e2e/fixtures/base/tsconfig.json
  e2e/fixtures/base/tuono.config.ts
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: typescript, rust, CI/CD

#559 chore: update version to v0.17.8
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#560 feat(crates/tuono): feat: add spinner to `tuono build`
  .editorconfig
  crates/tuono/src/build.rs
  crates/tuono/src/cli.rs
  crates/tuono/src/lib.rs
Labels: rust

#568 chore: add internal vite config
  .github/workflows/repo-root-ci.yml
  .github/workflows/typescript-ci.yml
  .prettierignore
  devtools/vite-config/package.json
  devtools/vite-config/src/index.ts
  devtools/vite-config/tsconfig.json
  eslint.config.js
  package.json
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-fs-router-vite-plugin/src/generator.ts
  packages/tuono-fs-router-vite-plugin/src/index.ts
  packages/tuono-fs-router-vite-plugin/vite.config.ts
  packages/tuono-router/package.json
  packages/tuono-router/src/router.ts
  packages/tuono-router/vite.config.ts
  packages/tuono/package.json
  packages/tuono/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: typescript, CI/CD, repo maintenance

#572 chore: correct missing `types` task reference
  package.json
Labels: typescript

#565 fix: use snake_case for handler names
  crates/tuono/src/source_builder.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono_lib/tests/utils/utils.rs
  crates/tuono_lib_macros/src/api.rs
  crates/tuono_lib_macros/src/handler.rs
Labels: rust

#569 refactor: apply RustRover lint suggestions
  crates/tuono_internal/tests/utils.rs
  crates/tuono_lib/src/payload.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/mock_server.rs
  crates/tuono_lib/tests/utils/mod.rs
  crates/tuono_lib/tests/utils/utils.rs
Labels: rust

#575 chore: add devtools to labeler.yml
  .github/labeler.yml
Labels: CI/CD

#564 feat: setup default tracing subscriber
  crates/tuono/Cargo.toml
  crates/tuono/src/app.rs
  crates/tuono/src/build.rs
  crates/tuono/src/cli.rs
  crates/tuono/src/route.rs
Labels: rust

#577 chore(examples/with-tailwind): update `tailwind` to v4.0.6
  examples/with-tailwind/package.json
  pnpm-lock.yaml
Labels: typescript

#576 feat: update vite to v6 and vitest v3
  devtools/vite-config/package.json
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
  pnpm-lock.yaml
Labels: typescript, repo maintenance

#411 test: add full integration test for tuono new CLI command
  crates/tuono/Cargo.toml
  crates/tuono/src/scaffold_project.rs
  crates/tuono/src/source_builder.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono/tests/cli_new.rs
  crates/tuono/tests/utils/mock_github_endpoint.rs
  crates/tuono/tests/utils/mod.rs
  crates/tuono/tests/utils/temp_tuono_project.rs
Labels: rust

#579 feat: more detailed errors for `Failed to read tuono.config.ts`
  crates/tuono/src/app.rs
  crates/tuono/tests/cli_build.rs
Labels: rust

#584 feat(env): setup env prefix and typescript for client-side
  examples/tuono-app/.gitignore
  examples/tuono-app/tsconfig.json
  examples/tuono-tutorial/.gitignore
  examples/tuono-tutorial/src/css-modules.d.ts
  examples/tuono-tutorial/tsconfig.json
  examples/with-mdx/.gitignore
  examples/with-mdx/tsconfig.json
  examples/with-tailwind/.gitignore
  examples/with-tailwind/tsconfig.json
  packages/tuono/package.json
  packages/tuono/src/build-client/index.ts
  packages/tuono/src/build/constants.ts
  packages/tuono/src/build/index.ts
  packages/tuono/vite.config.ts
Labels: typescript

#593 test(packages/tuono): `create-json-config` test are not clearing `writeFileSpy` mock
  packages/tuono/src/build/config/create-json-config.spec.ts
Labels: typescript

#594 feat: allow custom route with `.txt` extension
  crates/tuono/src/route.rs
Labels: rust

#596 feat(packages/tuono-router): add `replace` method to router and `replace` prop to `Link`
  packages/tuono-router/src/components/Link.spec.tsx
  packages/tuono-router/src/components/Link.tsx
  packages/tuono-router/src/hooks/useRouter.ts
Labels: typescript

#602 chore(deps): update dependency prettier to v3.5.2
  package.json
  pnpm-lock.yaml
Labels: typescript

#595 feat: update axum to v0.8.1
  crates/tuono/src/app.rs
  crates/tuono/src/route.rs
  crates/tuono/tests/cli_build.rs
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib/src/server.rs
  crates/tuono_lib/src/vite_websocket_proxy.rs
  crates/tuono_lib/tests/server_test.rs
  crates/tuono_lib/tests/utils/catch_all.rs
  crates/tuono_lib/tests/utils/dynamic_parameter.rs
  crates/tuono_lib/tests/utils/mock_server.rs
  crates/tuono_lib/tests/utils/mod.rs
Labels: rust

#609 feat(env): temporary revert frontend implementation
  examples/tuono-app/.gitignore
  examples/tuono-app/tsconfig.json
  examples/tuono-tutorial/.gitignore
  examples/tuono-tutorial/src/css-modules.d.ts
  examples/tuono-tutorial/tsconfig.json
  examples/with-mdx/.gitignore
  examples/with-mdx/tsconfig.json
  examples/with-tailwind/.gitignore
  examples/with-tailwind/tsconfig.json
  packages/tuono/package.json
  packages/tuono/src/build-client/index.ts
  packages/tuono/src/build/constants.ts
  packages/tuono/src/build/index.ts
  packages/tuono/vite.config.ts
Labels: typescript

#608 chore: update version to v0.17.9
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust

#582 feat: add `origin` config option
  crates/tuono/src/build.rs
  crates/tuono_internal/src/config.rs
  crates/tuono_internal/tests/config.rs
  crates/tuono_lib/src/server.rs
  packages/tuono/src/build/config/create-json-config.spec.ts
  packages/tuono/src/build/config/normalize-config.spec.ts
  packages/tuono/src/build/config/normalize-config.ts
  packages/tuono/src/config/types.ts
  packages/tuono/src/shared/DevResources.tsx
  packages/tuono/src/types.ts
Labels: typescript, rust

#614 fix: build script for creation of parent directories
  crates/tuono/src/route.rs
Labels: rust

#615 chore: update version to v0.17.10
  crates/tuono/Cargo.toml
  crates/tuono_internal/Cargo.toml
  crates/tuono_lib/Cargo.toml
  crates/tuono_lib_macros/Cargo.toml
  packages/tuono-fs-router-vite-plugin/package.json
  packages/tuono-router/package.json
  packages/tuono/package.json
Labels: typescript, rust
